[2015-01-31 14:32] katrin-k opened #1 "Show currency in donate widget on home page"
The donate widget on the home page of [railsgirlssummerofcode.org](http://railsgirlssummerofcode.org) only shows the number, not the currency.
-> add $ currency

[2015-02-01 11:48] sareg0 opened #2 "Redesign Landing Page"
@lislis and myself have started working on the landing page of the RGSoC site i.e. the home page of the SoC site

This is the first step in a website-wide design change, where content will also be reworked and pared down, to be more succinct and focus more heavily on the target groups that will be coming to the website for information

- Mentors/Call for Open Source Projects
- Students
- Coaches
-

[2015-02-01 18:39] carpodaster opened #3 "Add opengraph data"
Make it look prettier when sharing via social media channels

[2015-02-01 18:41] carpodaster opened #4 "Add pagination"

[2015-02-01 18:41] carpodaster opened #5 "Add an archive"

[2015-02-01 18:45] alicetragedy commented on #1
fixed in ebea6c132423f6b7c3fc27f9a5cafea04467e5ec

[2015-02-01 23:52] lislis commented on #3
@carpodaster yes!
Do we have a particular image that we want associated w/ rgsoc?

[2015-02-02 00:01] lislis commented on #2
I pushed a draft, you can see it here http://railsgirlssummerofcode.org/landing/
A few things content-wise:
[ ] what links do we want in the header navigation(s), footer, etc
[ ] what additonal information do we want after the tiles and before the footer right now?
[ ] wording of all the things
[ ] images, lots of images
Design-wise:
[ ] please comment on all spacing, font-size, animation, ratios

[2015-02-02 07:28] carpodaster commented on #3
@lislis I was thinking the red Railsgirls pixel heart as the default one. I will add a yaml header option that allows the specification of a different image on a per-page/per-post basis. I don't think the latter will be a  much used feature, though, but it doesn't hurt to have it, either :smile:

[2015-02-02 08:10] alicetragedy commented on #2
it looks great!

I've only just taken a quick look, but here's my feedback so far:

- the image in the tile-students div has an extra bit of padding on the right side (20px) which makes your perfectly well-constructed tile grid look uneven.
- I really really like the new choice of typeface, it also distinguishes us from the Rails Girls website a little. :+1:
- I feel like the tile-hover sub-header

[2015-02-02 09:41] lislis commented on #3
@carpodaster cool stuff, I'll see what images I can find

[2015-02-02 11:32] lislis commented on #2
thx for the feedback, will update this afternoon/ evening.

[2015-02-02 12:23] alicetragedy commented on #3
@lislis have you already found one? Otherwise I have a 300dpi TIFF that's roughly 900x900px that @carpodaster could use. (made my own for the certificates since I couldn't find a hi-res one anywhere :p so I understand the problem)

[2015-02-02 12:25] lislis commented on #3
@alicetragedy No and I haven't and that would be so cool :dancer:

[2015-02-02 12:28] alicetragedy commented on #3
sending it by email for now, but we should probably think of the best place to store it so we don't have to keep looking for it over and over again every time we need it! :tada:

[2015-02-02 12:29] lislis commented on #3
which is basically true for all the images.

[2015-02-02 12:30] alicetragedy commented on #3
YES!

[2015-02-02 12:32] lislis commented on #5
There is a gem for that https://github.com/jekyll/jekyll-archives

[2015-02-02 16:40] lislis commented on #2
@alicetragedy it's online. Bigger font looks definitely better

[2015-02-02 16:46] alicetragedy commented on #2
@lislis thank you :heart_eyes: and yes, it does look better when it's bigger - especially the GIVE US MONEYYYY part ;)

[2015-02-02 16:51] carpodaster commented on #2
I like the concrete call to action (Give us Money! Coach a Team! Become a Student!). Shall we make it 'Submit your Project'  instead of 'Call for Projects', too?

Also the coach a team and give us money text isn't capitalized in the same way the other two boxes are.

Other than that: :+1: :+1: :smile:

[2015-02-02 17:08] anikalindtner commented on #2
AWESOMESAUCE <3

yes, for what carsten said. also: I'd say: "Donate now!" or sth like that instead of "give us money".

[2015-02-02 17:31] carpodaster opened #7 "Protect our visitors' privacy with 2-click social buttons"
https://github.com/heiseonline/shariff

[2015-02-02 17:33] #1 closed

[2015-02-02 17:34] carpodaster opened #8 "Cleanup / restructure img folder"

[2015-02-03 09:39] lislis commented on #2
The copy is by no means fixed! Suggest all  the things!

[2015-02-03 20:49] #3 closed

[2015-02-04 09:41] sareg0 commented on #2
hehehe... The 'give us money!' text is definitely just a place holder... although...

'Give us Money' is the section for sponsors.
As per the design above we will probably have a section with a big CTA once the crowd funding campaign opens. Before then, our intention was to get people to sign up for the newsletter, and be informed that way (or follow us on Twitter)

I am really liking that this re

[2015-02-04 09:43] sareg0 commented on #2
Or perhaps this picture
http://4.bp.blogspot.com/-mB7cCcThsz0/UgJCPSFSykI/AAAAAAAACIQ/J_UHse2yexU/s1600/rgsoc33.jpg

I found it one our blog, but it must have come from one of the teams.

[2015-02-04 22:16] lislis commented on #2
thanks for the feedback @sareg0! I'll try to finish the blog archive and then implement your suggestions

[2015-02-04 22:32] sareg0 commented on #2
Coooools! Shout if you need/want more help.

[2015-02-05 09:54] lislis commented on #2
@sareg0 well, actually, you could implement your suggestions :) I'm on slack if you need help

[2015-02-05 13:33] katrin-k commented on #2
huhu. just did a feedback round with my ux/ui/product dev colleague. She generally had a good impression :).

One thing: She advised to specifially add the names of the target groups, e.g. state the group in a clean/sans-serif font with small size. Also, text on hover should be more (like sara's texts). Not sure how the explicit naming of the target groups can be integrated since students' and coa

[2015-02-05 13:43] sareg0 commented on #2
One of our ideas was to have a line at the top saying

'I want to ...'
and the tiles say what the person want to do
- submit an open source project
- participate
- coach a team
- sponsor

That would be quite specific I guess. I'll implement my suggestions in the next hour (I'll touch base with you on slack @lislis), and you guys can see what you think.

[2015-02-05 16:21] alicetragedy commented on #8
YES PLEASE :tada:

[2015-02-05 20:52] anikalindtner commented on #2
hey y'all. i pinged a friend of mine who is also a designer and she might have some good input and feedback here! say hi to @apertoclaudi (be nice, she's a newbie here ;) ).

[2015-02-06 10:10] anikalindtner opened #10 "STICKERZ!"
we found that it's almost a crime that we don't have stickers yet and for the sake of our laptops we want to change that. @alicetragedy suggested taking the stamp we use for the certificates and play around with that one. We can also design more than one and have several stickers. Maybe one year-specific sticker and one general? or two? or three? :D

![stamp_red_small](https://cloud.githubusercont

[2015-02-06 11:22] alicetragedy commented on #10
ALL THE STICKERS <3

[2015-02-06 14:34] lislis commented on #8
One thing I'm thinking about: if we move the images, we would need to check all the paths in the blog. There is no easy way for that i guess

[2015-02-06 16:22] alicetragedy commented on #8
@lislis yep, you are totally right - no easy way to handle this :disappointed:
but it is possible to figure out an image folder structure starting from now? I'm not sure how we want to do this. Any ideas?

[2015-02-06 16:29] carpodaster commented on #8
I suggest to move all images referenced by a blog post to be moved into a `/img/blog/`  folder as the very basic convention. I also recommend prefixing image files with something that hints at their purpose, but I don't have a more concrete vision yet :)

[2015-02-06 17:42] anikalindtner commented on #8
@carpodaster there was a reason though why we didn't do it like that before -> E_TOO_BIG_REPO. I love the idea of doing it somewhere else like a google drive or dropbox account

[2015-02-06 17:52] alicetragedy commented on #8
well, as of now it seems that a lot of the blog images are actually hosted in the GitHub repo, no? Maybe the biggest problem is eg. that when we fork the project for the new year (like we did last weekend) we are carrying the old blog posts (and folders with images) into the new repo. But I guess that with the blog archives, getting rid of that old stuff in the current fork is not an option.
Takin

[2015-02-06 18:22] carpodaster commented on #8
I'm strongly in favor of having all the images in the repo. Repo-size should only be a problem when you clone it and should be neglectable with a  resonably fast broadband connection. We can filter the images through something like ImageOptim and/or shrink their sizes/dpi; I think some of the images are rather big. I'm up for a big sorting session, including moving the images hosted at GH into the

[2015-02-06 19:36] sareg0 commented on #8
Happy to help with a sorting session. Is there a time/day that would suit?

On Friday, 6 February 2015, Carsten Zimmermann <notifications@github.com>
wrote:

[2015-02-06 20:47] sareg0 commented on #2
Hi @apertoclaudi,
Nice to meet you.
We just updated the landing page to 'finish' the content, and those changes are now live (fyi everyone else too).

http://railsgirlssummerofcode.org/landing/

@anikalindtner @alicetragedy @svenfuchs if anyone has suggestion for the content thus please do let us know.

[2015-02-08 13:42] alicetragedy commented on #2
it's looking good! made some tiny changes (d8eb15ce274a24912f83effedb23dbb438a6c81f)
I really like that "use your coding powers for good" line!
I also just realised that maybe we should change something in the "Submit an application" area, it does not specifically say anything about students and as @katrin-k mentioned the target group should be clear in there somewhere.

[2015-02-08 13:44] sareg0 commented on #2
totally! My only concern was clarity of what the program is.
I was having this little debate with myself the other day; do we want to call particpants 'students', since there is not formal curriculum.
I'm totally ok with 'students' as a word, but just wanted to put it out there.

[2015-02-08 13:51] alicetragedy commented on #2
true, we talked about this already :)
we have to find something to call them though if they are not students. The word "participant" implies just participating and not learning/being taught (in that respect, project mentors and coaches would technically be "participants" too, or not?).. In the contract we've referred to the grant as "fellowship" sometimes, but "fellow" sounds too formal to me. I c

[2015-02-09 09:37] ApertoClaudi commented on #2
hi @all. :) i'm the newbie anika mentioned and i've got some input for you. ;)

you've done a good job so far but i've got some concerns about the structure of the website. i think the user should be guided a bit more. so your main target groups are students, mentors and coaches. but when the user visits the site, one can not clearly figure out where to click and to inform because it looks a bit r

[2015-02-09 09:40] anikalindtner commented on #2
+1 on everything @ApertoClaudi said. I'd love to have clearer structure, since the tiles itself are more chaotic then a sidebar. :+1:

[2015-02-09 09:43] anikalindtner commented on #2
oh and about the pictures: yes, that's a debate right now to get them all in one place, nicely collected. I do have some other pictures, some you can find on the railsgirlssummerofcode.org/blog. i wanted to see anyway if i have more pictures on my computer... i'll have a look trough!

[2015-02-09 12:49] ApertoClaudi commented on #10
i really like that sticker above (although the font "summer …" isn't centered … http://gph.is/118XqcL … too much quality assurance at work lately … sorryyyyy).
an inverted version would also be nice, copletely red with a white heart …
maybe a heartshaped sticker just with the hashtag for summer of code …
i think about that and make some suggestions. :)

[2015-02-09 23:51] lislis commented on #4
I added pagination w/ 3 posts per page 21c1535e9298bfd3b13ac2fe16cbbc781a36668

[2015-02-09 23:52] #4 closed

[2015-02-10 06:43] carpodaster commented on #4
Very cool, thank you @lislis !

[2015-02-10 10:27] lislis commented on #2
I updated landing according to @ApertoClaudi suggestions. Moar feedback please :dancer:

[2015-02-10 11:11] anikalindtner commented on #2
@lislis awesome. looks so much better already. as for the photos we definitely need better ones. i will have time on friday hopefully to get to that.

Affect wise: I'd try out some other hover effects with the text. I'm not too sure about the effect right now, if that's a bit too slow (the appearance of the text). it also seems (correct me, if I'm wrong, I really have no idea about that) that the

[2015-02-11 16:32] lislis commented on #5
So, I probably go for a simple archive like template and a link like `/blog/archive/`. I hope I can get it done tonight.

[2015-02-11 16:47] anikalindtner commented on #5
GO FOR IT!

[2015-02-11 17:43] anikalindtner commented on #10
argh! now i can't unsee it! #center

[2015-02-12 08:36] ApertoClaudi commented on #10
hihi ^^

[2015-02-12 08:46] alicetragedy commented on #10
sorry you are totally right, it's not centered :p I'll make sure to fix that for future use!
I like your ideas for the stickers so far, I haven't really given it much thought this week yet.

[2015-02-12 23:18] lislis commented on #5
So, the archive would look this
![screen shot 2015-02-13 at 00 13 28](https://cloud.githubusercontent.com/assets/1006478/6179078/d49399f4-b315-11e4-89c2-eea555adbd58.png)

[2015-02-13 08:08] carpodaster commented on #5
That looks great, @lislis ! :shipit: !

[2015-02-13 08:10] carpodaster commented on #8
@sareg0 Sorry for the late response. I'll be having a look at it tomorrow afternoon and/or on sunday. I'll lurk on Slack.

[2015-02-13 09:21] anikalindtner commented on #5
<3!!!

[2015-02-13 11:05] alicetragedy commented on #5
Looking good! :heart:

[2015-02-14 16:30] carpodaster commented on #8
Part one done. I moved the images embedded in various blog posts to an `img/blog/<year>` subfolder and prefixed them with a name hinting at the article that includes them. I also resized several of them and deleted unused ones while I was at it. `img/` now has 5 MB less.

Next up: tackle all the images references externally…

[2015-02-14 16:32] carpodaster opened #12 "Ensure permalinks always include the date"
Many of our permalinks/slugs are not scoped by a date or even a year. We can change the permalink format easy enough, but are we ok with breaking all potential links to our site?

Unfortunately, there is no way for gh-pages to return 301 redirects.

[2015-02-15 10:59] alicetragedy commented on #8
that's amazing!!!!!!! thank you so much for all the hard work, I'm sure it was tricky/long/annoying... :heart:

[2015-02-15 14:17] anikalindtner commented on #8
:+1: :+1: :+1: :+1: :+1: :+1: :+1: great work

[2015-02-15 14:50] alicetragedy commented on #2
I have a question related to the content/structure: do we also want coaching companies and possible supervisors as a target group? Is that what the "Help us out" tile would be for? I think coaching companies can be a really big asset for the teams, so maybe they shouldn't be hidden away somewhere.

And I don't know about the supervisors, I felt like we were really in over our heads last year that'

[2015-02-18 17:39] sareg0 commented on #2
Totally. Especially with the more streamlined design, they could make it to the front page,.... Not sure if we'll get them above the fold ??

Here is the basic style guide we were working on
https://docs.google.com/document/d/1TFZxb79ar70jUU_UJAIxv041_AQoZB2HNwzf4Npxxvw/edit

It's pretty bare, but though it mighty be nice set one up as we go, so there is a method to the madness... Feel free to jus

[2015-02-18 20:30] alicetragedy commented on #2
@sareg0 I've added your style guide notes to the new design repo: https://github.com/rails-girls-summer-of-code/design
Alternatively we can add such a styleguide to this repo (summer-of-code) instead, if you think it's best that the website style guide is coupled with the website repo - in which case we keep the design repo for "print" stuff only. both work! :)

[2015-02-20 00:58] anikalindtner opened #17 "add "how to find a coaching company" to student's guide"
this is still missing as far as i can see. some hints and info about the process would be important to point out to students.

[2015-02-21 12:20] lislis commented on #12
So do you want `/blog/2014/foobar` or `/blog/2014-foobar`?

[2015-02-21 12:22] lislis commented on #7
Hey @carpodaster can I take over here or are you already working on it?

[2015-02-21 12:37] carpodaster commented on #7
@lislis Go ahead, I haven't worked on it yet

[2015-02-21 12:38] carpodaster commented on #12
I don't have a preference :smile:

[2015-02-21 12:41] lislis commented on #12
Because for the second option we can just use the custom permalink setting per page/post. Then old links would be preserved and we can start using the new permalink naming now.
But maybe just sticking to one or the other is better than  trying to do both? :confused:

[2015-02-21 12:42] lislis commented on #7
coooooool

[2015-02-21 12:43] carpodaster commented on #12
If there is a way that preserves old permalinks, I would definitely opt for that route.

[2015-02-21 15:01] alicetragedy commented on #17
:+1:

[2015-02-23 21:27] anikalindtner commented on #2
I'm adding @ApertoClaudi's design here from the Slack channel.

![claudi_landingpage](https://cloud.githubusercontent.com/assets/1711357/6337625/292b0f5e-bbab-11e4-961c-c00132310a24.jpg)

Feedback plz!!

[2015-02-23 21:35] anikalindtner commented on #2
my Feedback: I love the structure with the three text-boxes (timeline etc.). it seems all so much more clear and tidy, I like that a lot! Also I think it's a good solution to put the "what is rgsoc"-text beneath the header, I like it! Also that there is a tiny link.

About the scribbles I'm not sure wether or not we want to include them still (since they are quite "old"), but I like the little bir

[2015-02-24 08:09] bioshrimp commented on #2
@anikalindtner yes, you can let me know if/when you need new stuff. cheerio.

[2015-02-24 10:17] lislis commented on #2
Hey! Looks amazing! I like the scribbles. Looks super nice.
Any thoughts/ opinions on the interaction/ animation design?

[2015-02-24 10:19] anikalindtner commented on #2
@bioshrimp <3 !!!

[2015-02-24 20:17] ApertoClaudi commented on #2
@bioshrimp I like the scribbles very much, so I definatley want to see them in the new landingpage! :) Maybe you can sketch one for the sponsors section or some other subtle ones like the tiny bird?

[2015-02-24 21:34] ApertoClaudi commented on #2
So, I made an update for the home screen. I added a second layout for the open burger navigation and styled the hover effects. The arrow at the textlinks should maybe bounce a little and the teasers could have the red overlay, what they already have but with a button on it. The transition could be like the example "Ruby" on Codrops: http://tympanus.net/Development/HoverEffectIdeas/index.html

![rg

[2015-02-24 21:36] ApertoClaudi commented on #2
I also added a teaser right in the Sponsor section. It could be a nice way to remind future sponsors to be part of rgsoc. It was just an idea. :)

[2015-02-25 15:03] sareg0 commented on #8
I totally flaked on this. Sorry Carsten.
Is there anything that can be done to help you with the ;
_Next up: tackle all the images references externally…_

[2015-02-25 15:07] anikalindtner commented on #2
thanks so much for working on this! :heart:
Here are my thoughts:

+ I love the sponsor's teaser! that's a brilliant idea
+ the hover effect also looks cool (the ruby one), I probably have to see it implemented to have further comments on that
+ The lines above the text kind of look weird to me. I think we should either leave them out or arrange it differently
+ I'd love a bouncing effect of the a

[2015-02-25 15:29] sareg0 commented on #2
+1. Here are my thoughts, and I will try to avoid repeating anything said above
- can the social/follow things be moved to the bottom. Although they are important People will know where to look for them if they are placed somewhere obvious. Normally footer, yes?
- i very much like that the 'grid' of sponsor logos will mirror the grid of tiles at the top.
- as the three sections of text don't match

[2015-02-25 15:33] sareg0 opened #18 "Landing Page Copy"
This is an issue for the landing page copy, and only copy (not related to the design), to keep the two discussions compartmentalised.

Just reduces clutter on the design discussions, but easily referenced when needed.

I'm just getting the discussion going, and perhaps we can sign off on copy, even while the design is being finalized. It may also help Claudi with her mockups to know the decided co

[2015-02-25 16:18] anikalindtner commented on #18
great! I'd try to make it as short as possible. (If we need longer texts to make it look prettier, @apertoclaudi should give a shout)

TILES
(Left to right)
Tile 1

Title: Submit an Application
Blurb: take a look at our Application Guide (on how to become a student)*
Tile 2
*the text in the breakes could even be left out

Title: Submit your project
Blurb: Learn more about mentoring an Open Source

[2015-02-25 16:43] lislis commented on #18
@sareg0 @anikalindtner can you maybe also include where links should point to? Would make things much easier for me :)

[2015-02-25 16:54] alicetragedy commented on #2
@ApertoClaudi hahaha, the Cake Lorem Ipsum <3

[2015-02-25 17:01] ApertoClaudi commented on #18
Blurb? :D Funny description!

I'll see, if I have time in the evening, then you get a layout update with all your texts.

[2015-02-25 17:12] ApertoClaudi commented on #2
^^ Yeah, finally somebody has found my little "easter egg". ;)

[2015-02-25 17:19] lislis commented on #18
@ApertoClaudi no worries! this is mostly for me. I can handle the design having cupcake ipsum and putting the right texts into the code

[2015-02-25 18:30] anikalindtner commented on #18
will do later tonight/tomorrow. if someone has time before, go for it!

Sent from my iPhone

[2015-02-25 20:39] ApertoClaudi commented on #2
Thank you for your feedback! I totally agree to the point with the red lines above the textblocks. I'm not sure with it but wanted to have a CI element in these three teasers. Hm, I will think about it. And I'll make a version with two boxes. In my opinion three work as well, because with three boxes we have a little diversity in the layout and it has a bit more tension in it. But let's see! :)

[2015-02-25 20:47] ApertoClaudi commented on #2
@anikalindtner @sareg0 By the way: Do you want the social icons in the footer? They are just on the sidebar in the blog on the current website. So how important are they? I made them in the teaser as a content example, because Sven mentioned to have teasers with different content possibilities.

[2015-02-25 21:01] ApertoClaudi commented on #18
@lislis  Well, I changed my cupcake ipsum allready. But from now on I ignore the new textinput. ;)

[2015-02-25 22:01] anikalindtner commented on #18
@lislis
+ more about us: to http://railsgirlssummerofcode.org/about/
+ submit an application : to http://railsgirlssummerofcode.org/students/application/
+ coach a team: to http://railsgirlssummerofcode.org/guide/coaching/
+ become a sponsor: to http://railsgirlssummerofcode.org/sponsors/packages/
+ same goes for the sponsor teaser "the right place to be" ^

[2015-02-25 22:03] anikalindtner commented on #2
@ApertoClaudi yes, in the footer next to the imprint I'd say? what do you think? It's a good example, definitely! Just if we *can* save some space, I'd say, let's drop the third textbox and go for two. (Or at least try it out)

[2015-02-25 22:04] anikalindtner commented on #2
also EASTER EGG FTW! all the cup and cakes <3

![](http://media.giphy.com/media/jKQAVpiyrss8g/giphy.gif)

[2015-02-25 22:06] ApertoClaudi commented on #2
* I changed the lines in the three-teaser-row from above the texts to underlines, V1 in dark grey, V2 in red. What do you prefer? (I share my opinion later ;) )
* v3 is the version with two tasers in a row AND the social icons in the footer.
* The menu has just the sunglasses now.

* Why would you like to change the logo?

![rgsoc-home_v1](https://cloud.githubusercontent.com/assets/7582849/6381361

[2015-02-25 22:12] anikalindtner commented on #18
@ApertoClaudi btw. I couldn't believe it myself, but"blurb" seems to be an actual word. I only learned that while working for RGSoC as well. hehe. such a nice one, that sounds like a sound ;D

![screen shot 2015-02-25 at 23 11 50](https://cloud.githubusercontent.com/assets/1711357/6381721/b8f7ee92-bd43-11e4-90a2-ccd5149646a4.png)

[2015-02-25 22:19] anikalindtner commented on #2
@ApertoClaudi niiice! I like the version with only one line between two text-blocks definitely the most. on the other versions it's just too many lines for my taste (although it still looks way better than anything before!). The v3 is awesome, since the color of the one line is the same as the background above.

I also like the icons down on the page.. Maybe we could also try to put them right nex

[2015-02-26 09:52] sareg0 commented on #2
I <3 V3 soooo much! There is even a little white line delimiting the footer, which could be an awesome place for socials. Amazeballs designs :)

[2015-02-26 11:06] sareg0 commented on #18
Jop! It IS a real word... But I do have tendency to make these things up :)

[2015-02-26 15:44] sareg0 opened #19 "Remove FAQ Sections"
The decision has been made to to scrap the FAQ, as it is merely duplicate info.

1) http://railsgirlssummerofcode.org/faq/
needs to be consolidate with http://railsgirlssummerofcode.org/about/

2) http://railsgirlssummerofcode.org/faq/sponsors/
needs to be consolidate with http://railsgirlssummerofcode.org/about/sponsorship-guidelines/

3) http://railsgirlssummerofcode.org/faq/students/
needs to b

[2015-02-26 16:01] sareg0 commented on #19
FAQ: Sponsors
-------------

What is Rails Girls Summer of Code (RGSoC)?
Is it a global initiative?
Who is running this?
Who can participate as a student?
Where will RGSoC take place?
I have more questions!
What is Rails Girls Summer of Code?

Rails Girls Summer of Code (RGSoC) helps Rails Girls students (and students from other, comparable initiatives) get into Open Source.

Just like in Google S

[2015-02-26 16:04] sareg0 commented on #19
FAQ: Sponsors

**What about VAT and tax deduction for my donations?**
**What happens if you don’t reach your goal or RGSoC gets cancelled?**
**What happens to any left-over budget from the 2014 Summer of Code?**

**What about VAT and tax deduction for my donations?**

We don’t really know about tax laws everywhere in the world but according to our tax advisor: “Contributions and payments to Rails

[2015-02-26 16:06] alicetragedy commented on #19
I think the sponsor FAQs are actually the only ones that have information that is important and that we don't have anywhere else.. but not 100% sure :p

[2015-02-26 16:09] sareg0 commented on #19
okay, I put them all up into the top text. It's definitely not there @alicetragedy so we need to pack that in somewhere with Sponsorship guidelines I guess.

[2015-02-26 16:40] ApertoClaudi commented on #2
I wish my clients would be so excited and give such lovely feedback for our work here … <3

Now the social icons are down the white line near the imprint. I think it works good.

![rgsoc-home](https://cloud.githubusercontent.com/assets/7582849/6396308/ef835970-bddd-11e4-9057-d6d51e5f5932.jpg)
![rgsoc-menu](https://cloud.githubusercontent.com/assets/7582849/6396306/ef80d934-bddd-11e4-9177-4defb00ed

[2015-02-26 16:42] anikalindtner commented on #2
@ApertoClaudi (the great community is one of the reasons I stuck with working for Rails Girls in general ;)) ) looks so good! thanks for implementing the feedback!!

![animated-fireworks-image-0012](https://cloud.githubusercontent.com/assets/1711357/6396449/d61a1806-bdde-11e4-9226-82b040e34e55.gif)

[2015-02-26 16:43] lislis commented on #2
@ApertoClaudi AMAZING! I use fontawesome for the usual icon stuff. But do you maybe have the SoC logo as svg?

[2015-02-26 16:47] alicetragedy commented on #2
Sorry that I've totally not been able to give any feedback about this at all, but great job @ApertoClaudi, it looks great. Like everyone else, I agree that having the two blocks (timeline and help out) like this, with the grey line in the middle and the tiny red line under the heading, looks beautiful, because it's very subtle and not "in your face".

One random question: Are we scrapping the "han

[2015-02-27 12:25] anikalindtner commented on #19
\o/

[2015-02-27 16:16] ApertoClaudi commented on #2
@alicetragedy Thanks for your commendation ^^
I think your "tiiiiiiny suggestion" is absolutely right and @lislis can implement it right in her code. :) So no layout update necessary.

In case of the handwritten font: Sven would like to have a much "bolder" typeface which shows, that the railsgirls are a qualified group and not a bunch of girls who are giggling around all day. (I overdraw it a bit

[2015-02-27 16:19] ApertoClaudi commented on #18
@anikalindtner Okay… that's new to me, but funny anyway! I knew it by the name "copy" or "abstract".

[2015-02-27 16:24] alicetragedy commented on #2
@ApertoClaudi: oh I totally get Sven's point, and I actually really like the way it looked in your layouts (without the handwritten kind of typeface) so I'm very happy either way, as long as it looks great :)

[2015-02-27 16:28] sareg0 commented on #19
Okay, I have merged with pull request myself.

Sorry for the lack of consultation. There is not changed info, just a tacking on of guidelines in addition to packages
https://github.com/rails-girls-summer-of-code/summer-of-code/pull/22

The content still needs to be reviewed, and have the information from the FAQs for sponsors somehow integrated.

[2015-02-27 17:01] anikalindtner commented on #2
@ApertoClaudi I think I'd totally leave that up to you designer-pros :) We *have* used the stamp for the certificate and I still think it looks nice and warm. So I'd be up for having a stamp-sticker and one that shows the Rails Girls Summer of Code - logo (or even moar)! we can go more creative with the stickers, I'd say. But I'm not expert. If you from a design-position say that we simply CANNOT

[2015-02-27 17:12] sareg0 commented on #18
True, those are nice words. Blurb is usually on the back of a book. It's not an abstract of the book, but a brief explanation, or setting of the stag for the books premise :)

[2015-02-27 17:13] anikalindtner commented on #18
@ApertoClaudi hahahahahaha

[2015-02-27 18:47] alicetragedy commented on #18
@lislis some (reaaaaally) minor things I noticed today that might need changing:

**Top menu**
- remove FAQs link

**Main text**
- replace "from July-September" to "from July to September"

**Boxes**
- "Coach a team" instead of "Coach a Team"
- "Submit your application" instead of "Submit an Application"

**Timeline**
- I'd remove the . after the months eg. "02.02" instead of "02.02." (not to be p

[2015-02-27 18:49] alicetragedy opened #23 "Broken link to Code of Conduct"
the link in the menu to the Code of Conduct should be pointing to: http://railsgirlssummerofcode.org/about/code-of-conduct/

[2015-02-27 18:55] anikalindtner commented on #18
I also have a change for the copy. Basically I was trying to make the main text less, so that it doesn't use up too much space.

![screen shot 2015-02-27 at 19 53 34](https://cloud.githubusercontent.com/assets/1711357/6419069/80303006-beba-11e4-9df9-5c15ac80e5bc.png)
"With our fellowship program we aim to foster diverstiy in Open Source. Selected teams recieve a three-months scholarship to work on

[2015-02-27 18:56] alicetragedy opened #24 "Team page not working"
After clicking on the link to the team page, the page isn't loading (or rather, it's loading forever).
Seems to be a javascript issue, see attached screenshot.

![screen shot 2015-02-27 at 19 38 26](https://cloud.githubusercontent.com/assets/3143348/6419080/9775990e-beba-11e4-96ce-2983daa3ee3c.png)

[2015-02-27 18:59] anikalindtner commented on #2
@lislis great implementation and awesome work, thanks! Seeing it live, I have some things, I'd love to change/see if we can work something out:

+ I'd remove the red line under HELP OUT and TIMELINE (if it's too simplistic, I'd gp for putting the squiggly-line there, but I'm not sure, if that looks too good)
+ the grey line dividing those ^ two texts should be exactly in the middle of the 4 boxes

[2015-02-27 20:18] #23 closed

[2015-02-27 20:23] #24 closed

[2015-02-28 13:59] katrin-k commented on #2
to all of you: so much wow!
i so love the little birdy beside the boxes :)

this is what i found or suggest:

+ top bar menu: set menu items and hamburger more vertically centered
+ i find the name "Rails Girls Summer of Code" a bit hard to read. maybe a capitalize it? @ApertoClaudi wdyt?
+ +1 on removing the red lines and centering the timeline. padding-top: 10px; padding-left: 160px; looked good

[2015-02-28 14:13] katrin-k commented on #2
and all the get-involved links in the toggle nav are dead: …/guide/… (instead of …/guides/…)

[2015-02-28 14:42] katrin-k opened #25 "Link changes and leftover content"
With the new landing page coming up, i also looked through all of the other pages and found some more stuff to change.

About page http://railsgirlssummerofcode.org/about/
- [x] remove Chat paragraph

What’s the policy on setting the sidebar?
- [x] Pages that don’t have it: team (no space left), sponsorship packages (space left), sponsors page (no space left), campaign (space left)

Sidebar
- [x]

[2015-02-28 23:31] lislis commented on #25
Thanks for looking at stuff like this!

[2015-02-28 23:51] lislis commented on #7
Now live!

[2015-02-28 23:51] #7 closed

[2015-02-28 23:52] lislis commented on #5
Here we go http://railsgirlssummerofcode.org/blog/archive/

[2015-02-28 23:52] #5 closed

[2015-03-01 10:49] alicetragedy commented on #5
YAY!

[2015-03-01 10:53] carpodaster commented on #5
That is so cool, thanks @lislis !

[2015-03-01 11:09] alicetragedy commented on #7
:tada:

[2015-03-01 11:11] alicetragedy commented on #7
When I read that gem's name I always have to think of this guy.. http://en.wikipedia.org/wiki/Omar_Sharif :movie_camera:

[2015-03-01 11:51] lislis opened #26 "remove /js/ folder and default layout"
I migrated most of the pages to use the (new) bootstrap layout.
That means we can use all the bootstrap grid classes to build layouts. yay!
I already deleted the `/css/` folder and put all things to `/assets/stylesheets` where we can use scss. amazing!
The `legacy.scss` contains the old css file but is not included on the newer pages. I try to have separate scss files to make it easier to find thi

[2015-03-01 16:37] alicetragedy opened #28 "add information about volunteer teams to student's guide"
We are missing information about the volunteer teams in the student guide; it should at least be mentioned and explained in a couple of sentences, as we mention them eg. in the application.
An explanation of what they do/how they are different to "normal" teams should probably also be added to our "Roles" page.

[2015-03-01 18:06] sareg0 commented on #10
As mentioned on the call, I am happy to be a messenger person on the stickers if need to be handed over somehow for concat().

How do you think they would look best; white background with the writing on top, or clear background.
Upfront.ug had some totally sweet stickers with a clear background.

[2015-03-01 18:16] alicetragedy commented on #10
@sareg0 that would be awesome, but I can also get someone to bring them to concat(), that would be no problem at all. (they'd be arriving on Friday night in Salzburg from Vienna).
I'd like to get a small edition of them done just for concat()/women techmakers with this design (since it's already done, I just have to center the text properly). I was thinking of the clear background too, but I think

[2015-03-02 08:51] ApertoClaudi commented on #2
It totally rocks, ladies!

[2015-03-02 08:57] ApertoClaudi commented on #2
Oh, I just found out, that the Logo leeds to the old landing page after clicking on Imprint and then clicking on the Logo. That should be changed I think. ;)

[2015-03-02 09:06] alicetragedy commented on #2
It actually still shows the old landing page for me if I go to: railsgirlssummerofcode.org
don't know if that's the plan for now, or if the index should be changed to reflect the new landing page. :)

[2015-03-02 09:23] anikalindtner commented on #2
@alicetragedy that's the plan. Since the landing page is not entirely finished... (images still need to change, some a-line-ments (haha ;) ) too)

[2015-03-02 09:25] alicetragedy commented on #2
ok! I guess then that's the same "issue" that @ApertoClaudi just mentioned above, and it's "absicht" :)
YAY, can't wait! <3 :balloon:

[2015-03-02 09:42] #28 closed

[2015-03-02 13:27] sareg0 commented on #10
True, I guess it helps if the lines are darker. ah well, all good!

[2015-03-04 13:13] jimmackenzie opened #32 "Sponsorship Guidelines link is 404'ing."
Hello friends!

I noticed that the sponsorship guidelines link is 404'ing in a few places:

1. https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/_includes/footer.html#L24
1. https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/_includes/content_sidebar.html#L10
1. https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/_layouts/defa

[2015-03-04 13:24] alicetragedy commented on #32
hey @jimmackenzie! Thank you so much for letting us know - we will take a look and fix it asap. We've been moving some stuff around lately to get ready for the new RGSoC season, seems that we overlooked some links ;) We appreciate the feedback! :purple_heart:

[2015-03-04 15:01] anikalindtner commented on #32
thanks for pointing out @jimmackenzie!

[2015-03-04 16:56] alicetragedy commented on #25
@katrin-k turned your list into a checkbox one, so we have an overview of what needs to be done. I'm happy to assign this issue to myself and make those changes if you have no time! (:

[2015-03-05 07:43] alicetragedy commented on #25
re: sidebar - I didn't remove the links, I just changed the link to the sponsorship guidelines (it was broken) and left the become a sponsor item, as it's the spot in the sidebar you can get to that page from; but I can also remove it if needed! let me know :)

[2015-03-05 10:31] katrin-k commented on #25
naa, i wouldn't say it needs to be removed. it was rather for making it consistent with the structure of the toggle navigation. and the topic of becoming a sponsor is also mentioned directly below.

[2015-03-05 10:38] alicetragedy commented on #25
I think that you're totally right and that ideally it would make sense to keep the structure in the sidebar the same as the one in the new top menu.. Since the Sponsor heading is missing in the sidebar, we're left with some "loose" sponsor pages that need to be linked somewhere. Maybe it would make sense to add a sponsor menu point in the sidebar or to get more links in the "Become a sponsor" bit.

[2015-03-05 11:51] sareg0 commented on #32
Hey guys,
I am hoping/thinking that this is now fixed. @jimmackenzie do let us know if you see any more things.

[2015-03-05 11:51] #32 closed

[2015-03-05 14:55] jimmackenzie commented on #32
Woop! :+1: :green_heart:

[2015-03-05 15:25] alicetragedy commented on #32
:tada:

[2015-03-06 15:31] katrin-k opened #39 "broken "donate now" in sidebar"
The "Donate now" button in the sidebar is either cut off (Safari 7.1, Chrome 37) or a line-breaker (ff 33)

![broken donate safari](https://cloud.githubusercontent.com/assets/2246045/6527813/1de9ffd0-c41e-11e4-8335-bd63e7644c3f.png)
 ![broken donate firefox](https://cloud.githubusercontent.com/assets/2246045/6527814/1e47af0e-c41e-11e4-8a49-592016e6241e.png)

[2015-03-06 16:02] lislis commented on #39
what operating system and window size? I can't reproduce right now

[2015-03-06 17:59] sareg0 commented on #39
This is mobile view. The site is not so pretty on mobile, but we kinda shipped it without looking at mobile, so team effort :) . I took some screenshots but I figure you could take a look on mobile too @lislis

[2015-03-06 21:41] anikalindtner commented on #39
it's also on the blog-site on chrome:

![screen shot 2015-03-06 at 22 40 26](https://cloud.githubusercontent.com/assets/1711357/6536898/d6b75368-c451-11e4-93a7-6d9fdfeb221b.png)

(and all the other sites with sidebars, i just saw)

[2015-03-06 21:46] carpodaster opened #40 "Missing link to how to become an organizer on /about"
http://railsgirlssummerofcode.org/about/

![screen shot 2015-03-06 at 22 44 41](https://cloud.githubusercontent.com/assets/164400/6536976/8b6fa22e-c452-11e4-97f4-9ddb7154cd82.png)

[2015-03-06 21:55] sareg0 commented on #40
wtf?! I can fix that. Okay fixed. Should be there now

[2015-03-06 21:55] sareg0 commented on #40
teh emptyness is resolved :) x

[2015-03-06 21:55] #40 closed

[2015-03-06 21:56] carpodaster commented on #40
Cool! :+1: I didn't which document it should link to

[2015-03-06 21:58] alicetragedy commented on #40
to put it in @sareg0's words.. "Awesome sauce" :sparkles:

[2015-03-06 23:15] carpodaster opened #41 "Duplicate: /landing.html vs. /index.html"
While working on 7141bb46d315334d64d85ca1818c39de7a105dab I noticed that the front page is served by `landing.html`, not `index.html` (I couldn't figure out why my changes in index.html wouldn't show after I rebuild my local jekyll site).

I don't know enough jekyll-foo to understand how landing gets aliased to index, but I do think that we should either merge the files, rename them or delete the

[2015-03-07 08:18] lislis commented on #39
AAHH, you put the button in the sidebar. I didn't even see that. I made a class with a smaller button. But you could have fixed that, too ;)
The line break needs a little more attention, since the input has a fixed width.

[2015-03-10 10:29] ApertoClaudi commented on #2
All the amazing Buttons:
![rgsoc_button](https://cloud.githubusercontent.com/assets/7582849/6573008/1c80409a-c717-11e4-9b2c-0c238d5df376.jpg)

I think, the one in the middle of these three examples is the one which is the one to be.

[2015-03-10 10:33] anikalindtner commented on #2
@lislis can you make your :sparkles: magic :sparkles: happen again?

[2015-03-10 16:31] lislis commented on #41
You're right, closed by 7961378025afc7299635eaa7bed4a93c02b8095b

[2015-03-10 16:31] #41 closed

[2015-03-10 17:28] #39 closed

[2015-03-10 18:59] alicetragedy commented on #17
If we are dropping advertising the coaching company idea too much, should we even do this, or can this issue be closed?

[2015-03-10 19:04] sareg0 commented on #19
As mentioned above, we need to rewrite the sponsor FAQ content that we don't have in the 'sponsorship guidelines'

I'm going to just propose the change in this comment, and then if it looks OK, then will lodge a pull request to double check the changes before publish.

This is going to be added to the ['Sponsorship Guidelines'](http://railsgirlssummerofcode.org/sponsorship-guidelines/) page

-----

[2015-03-10 19:13] alicetragedy opened #48 "current page navigation arrow missing"
The arrow in the sidebar for the current / active page has disappeared.
@lislis Is this a feature or a bug? :p

![screen shot 2015-03-10 at 20 11 27](https://cloud.githubusercontent.com/assets/3143348/6583049/c2bdae58-c761-11e4-843a-9e2e0208ac98.png)

[2015-03-10 19:15] anikalindtner commented on #17
yes!

CLOSE ALL THE THINGS

![tanzhund](https://cloud.githubusercontent.com/assets/1711357/6583090/23e93166-c762-11e4-80b0-9c51f2127b96.gif)

[2015-03-10 19:16] #17 closed

[2015-03-10 19:16] anikalindtner commented on #48
it's a feature :)

[2015-03-10 19:42] alicetragedy commented on #48
ok, so I'll close this ;)

[2015-03-10 19:42] #48 closed

[2015-03-10 20:49] alicetragedy commented on #25
ALL THE CHANGES HAVE BEEN MADE OMG.
issue can be closed!! :tada:

[2015-03-10 21:12] sareg0 commented on #19
I'm gonna close this cause it's in the PR I just did :)

[2015-03-12 22:35] #25 closed

[2015-03-12 22:36] alicetragedy commented on #19
you can go ahead and close this issue @sareg0 as soon as the pull request is mergeeddddddddd :tada:

[2015-03-12 22:39] alicetragedy commented on #10
Since the stickerz have been successfully printed, I'm closing this issue and moving all conversations about the stickerz (like maybe another edition, or the ones for next year, or any other suggestions by @anikalindtner & @ApertoClaudi ) to the design repo. w00t!

[2015-03-12 22:39] #10 closed

[2015-03-13 07:34] mrfoto commented on #10
I WANT THIZ STICKER NAO! :gift_heart:

[2015-03-13 09:01] carpodaster commented on #10
giiief stickrz!

Am Fri Mar 13, 2015 at 12:3430AM -0700 schrieb Miha Rekar:

[2015-03-13 09:16] sareg0 commented on #10
I am bringing some back to berlin :)

[2015-03-13 10:25] alicetragedy commented on #10
@mrfoto I'm sure it can be arranged! :heart:

[2015-03-13 10:25] mrfoto commented on #10
:shipit:

[2015-03-15 15:17] svenfuchs opened #55 "Redesign the campaign page"
The campaign page doesn't make the best landing page at the moment.

I've tried coming up with a cleaner layout. WDYT?

![image](https://cloud.githubusercontent.com/assets/2208/6656601/abc71150-cb2e-11e4-930d-14bffd462c63.png)

[2015-03-15 19:52] alicetragedy commented on #55
we have an issue about this here, hehe: https://github.com/rails-girls-summer-of-code/rgsoc-campaign/issues/26

I agree that it looks cluttered and the text is all over the place and that we can improve it a lot. I like the idea of moving the progress bar above the donate field, and maybe a change of icon too (even though I find the tiny photo from the landing page a little creepy) :+1:

[2015-03-16 09:16] anikalindtner commented on #55
hej @svenfuchs there is even a PR from me about this (https://github.com/rails-girls-summer-of-code/summer-of-code/pull/47), but i like yours better, so go ahead. I'd just not use other icons than the ones we have. I also think it looks a bit creepy to use real life women for this. Also we had this whole discussion last year already about that using a photo like this for all teams excludes all the

[2015-03-16 10:47] sareg0 commented on #10
I haz the stickerz! @mrfoto and @carpodaster you can hit me up for some.

[2015-03-16 11:31] sareg0 commented on #26
OMG this is amazeballs. What's the status on this one now. Are you gonna remove the js folder.

[2015-03-16 11:31] sareg0 commented on #19
SUPERRRR!!!

[2015-03-16 11:31] #19 closed

[2015-03-16 11:36] sareg0 commented on #18
How do we all feel about the progress of this issue, has all of your feedback been integrated.

I have maybe one small change.

"With our fellowship program we aim to foster diverstiy in Open Source. Selected teams receive a three-months scholarship to work on Open Source projects of their choice."

I feel like it implies people can select any open source project, which could be misleading. Perhap

[2015-03-16 11:37] sareg0 commented on #12
@lislis what's the state on this one? Is there a preferred format we should be using?

[2015-03-16 16:59] sareg0 commented on #8
How are we coming along with this one? I'm guess it's still a work in progress

[2015-03-16 17:09] carpodaster commented on #8
I think we can safely close this. Downloading the images from the github cloud and storing them in our repo is not gonna happen anytime soon … if at all.

[2015-03-16 18:01] alicetragedy commented on #8
I think it would be good to leave it open though, so we don't forget about it. It doesn't need to have a high priority, more like something that needs to get done eventually.. or do you reckon it's not so important @carpodaster?

[2015-03-16 18:18] carpodaster commented on #8
I think it's maybe safe to assume that Github won't delete images (or is it?) so I'm ok with ignoring the f.cloud.github.com img references. We could comb through the blog and get those externally referenced images into the repo where the location seems more volatile.

[2015-03-18 14:22] svenfuchs commented on #55
The problem with the current team icon is that it is being seen as a "close talker", which is pretty creepy. Once seen I couldn't "unsee" it.

[2015-03-18 14:32] sareg0 commented on #55
I see... Well I do agree that it's hard to unsee, and it could be creepy, but we wanted to fix the most broken things first.
I think the design above is nice, but let's come to a consencus, as we don't want to start work on something unless the design change is 'set'.

I think we could even get rid of the banner image at the top, and just have the ticker, front and center, then donate, then sponso

[2015-03-18 15:52] ApertoClaudi commented on #55
Hey @all, I will have a look next week and will make a design proposal. I think the site is really cluttered as @alicetragedy mentioned and there is no real structure which leads the user through it. Also I'm going to make a new progress bar without creepy women in it. ;)
Thank's @sareg0 for giving me a ping! :)

[2015-03-18 16:34] sareg0 commented on #2
Okay, so I think this issue is mostly done. The only thing that could be improved are the layouts on mobile. Do you have the time to do this @lislis. If not I can perhaps do a little hack session on the weekend to see what I can do... So we can then at least close this issue, and then work on the rest of the site.

[2015-03-18 17:14] sareg0 commented on #55
okay great. @ApertoClaudi what day do you think you might have something done by?

[2015-03-18 17:20] sareg0 commented on #18
I'm closing this issue cause it's big and we're moving the discussion to somewhere else

[2015-03-18 17:20] #18 closed

[2015-03-18 17:49] sareg0 commented on #26
As we spoke in the call, @lislis will take a quick look at this, and see if she can get it closed up before her holiday. Many thanks Lisa :)

[2015-03-19 16:49] #26 closed

[2015-03-19 19:50] alicetragedy commented on #26
:clap:

[2015-03-26 16:51] sareg0 commented on #2
I made a small improvement to the logos on the landing page yesterday with @lislis's help.

The only thing left to do is fix up the burger menu on mobile

![img_2970](https://cloud.githubusercontent.com/assets/1307818/6851628/97806042-d3e0-11e4-9175-cd8c82b9c20b.PNG)

[2015-03-26 19:48] alicetragedy commented on #2
awesome work @sareg0. Do you need help with something, or are you on it? :heart:

[2015-03-26 20:56] sareg0 commented on #2
I am on it this evening... I'll try to get a pull request out there in an hour or two

[2015-03-26 22:11] sareg0 commented on #2
@alicetragedy I have check locally, and it seems to work... Perhaps you just wanna check and merge if you feel like it https://github.com/rails-girls-summer-of-code/summer-of-code/pull/59

[2015-03-28 14:59] lislis opened #60 "RSS feed is broken"
http://railsgirlssummerofcode.org/blog.xml

[2015-03-29 18:20] #60 closed

[2015-04-02 12:04] alicetragedy opened #65 "mobile improvements"
So I took a look at the site on a tablet, and here are a few things we could still improve.

These are all minor things, but worth fixing eventually.

![image-2](https://cloud.githubusercontent.com/assets/3143348/6963492/5100f1d0-d940-11e4-93ef-9d5b070351ed.jpg)
- The burger menu has no margin or padding at the top, it makes it look very weird.
- The progress bar needs fixing on mobile, as it does

[2015-04-08 09:38] carpodaster opened #67 "CORS issue on /about/team"
http://railsgirlssummerofcode.org/about/team/ doesn't load anymore:

[2015-04-08 11:36] marcgreenstock commented on #67
Yeah, CORS issue. Seems to be sporadic on Chrome, possibly due to the force SSL redirect 307 redirect the teams app does and the headers not being sent with this.

Firefox is going to have some trouble because the protocol doesn't match, i.e. http vs https.

To fix we could just turn off force SSL for `ContributorsController#index`

[2015-04-08 11:46] carpodaster commented on #67
Isn't there a HTTP header we can send? I'm not very familiar with CORS but I remember something like that. I shall look it up.

[2015-04-08 11:54] marcgreenstock commented on #67
It's already being sent: https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/contributors_controller.rb#L2.

[2015-04-08 12:04] carpodaster commented on #67
Ah, gotcha. Maybe just change the protocol to SSL in https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/assets/javascripts/team.js#L9 ?

![](http://tn.en.fishki.net/26/upload/en/201305/19/10633/7bb1b10ba129b6fc7d14a4de222a209f.jpg)

[2015-04-08 12:04] marcgreenstock commented on #67
I'm looking for a way to disable force_ssl only on `ContributorsController#index` which should help solve the issue of the redirect getting in the way. Another thing to try would be changing the url to `https://teams.railsgirlssummerofcode.org/contributors.json` in the JS code.

[2015-04-08 12:06] marcgreenstock commented on #67
yes, didn't realise this was a gh-pages thing, yeah, change it there, it can't make it any worse.

[2015-04-08 12:07] carpodaster commented on #67
Voilá! Done. :smile: Cool beans! :green_heart:

[2015-04-08 12:07] #67 closed

[2015-04-08 12:11] marcgreenstock commented on #67
Nice.

[2015-04-22 17:01] anikalindtner commented on #65
pinging @lislis here <3

[2015-04-22 17:14] lislis commented on #65
on it

[2015-04-23 15:32] #65 closed

[2015-04-27 16:17] sareg0 commented on #2
I'm closing this one on up! It's long, and we can start a new issues if we have future changes :)

[2015-04-27 16:17] #2 closed

[2015-04-27 16:20] sareg0 commented on #12
@carpodaster @lislis is there much work to be done on this one?
Will we do all future permalinks as having a date in the URL? If we name a preferred format now, we can make sure we use it for all future blog posts, before things get ramped up on the blog for 2015.

[2015-04-27 16:23] sareg0 commented on #55
Okay, so the 'creepy women' are removed from the progress bar which is excellent.

Now onto the next step of redesigning the campaign page.

@ApertoClaudi do you think you could do up a wireframe, which we could then task to someone for implementation?

[2015-04-28 08:42] ApertoClaudi commented on #55
Hi @sareg0, you mean a wireframe for the campaign page, right? http://railsgirlssummerofcode.org/campaign/ Should I make a wireframe or a layout? I think, I could do that by the beginning of next week. :) (And I'm now back again for work here, because my moving is over and my new home is no longer a big mess ... )

[2015-04-28 17:06] sareg0 commented on #55
Yes, oh layout would be excellent.

I don't know the designer words, so I use the buzzwords I have heard before ;)

The beginning of next week would be wonderful, say Tuesday?

[2015-04-29 14:43] ApertoClaudi commented on #55
Hihi, it's alright, also buzzword is a buzzword. :D
Tuesday sounds good!

[2015-05-05 20:42] ApertoClaudi commented on #55
Well, here are two versions for a campaign site rebrush. :sparkles:

* I made the structure a bit clearer by changing the headline formats and gave the whole layout more space, so that users can easely scan the page.
* The News is now marked with a little star, so that it's more an eye catcher! :bowtie:
* The sponsor section is highlighted with a grey area behind it in both versions.
* Also, I mad

[2015-05-06 14:16] lislis commented on #55
@ApertoClaudi amazing! Because I hate tables: Do you also plan on brushing up the list of people/ companies who/that sponsored?

[2015-05-06 14:20] alicetragedy commented on #55
I think it would actually be great to have the progress bar from V1 for desktop, and V2 for mobile and tablet, as it would work quite well on small screens.
Also like the way you cleaned it up and made it look less cluttered, the progress bar definitely looks better with just one icon! And I really like the idea of the star to bring attention to the news, so no complaints there. :sparkles:

[2015-05-06 14:40] anikalindtner commented on #55
:+1: for cleaning it up!!!

i feel we could clean it up even MOAR. Less text still and maybe adjust the sponsor packages so that they are in line with the text or the other way around? because this space seems a bit odd to me still:

![screen shot 2015-05-06 at 16 37 58](https://cloud.githubusercontent.com/assets/1711357/7495447/51e522fe-f40e-11e4-9599-cbed533b34ab.png)
![screen shot 2015-05-06 at

[2015-05-06 15:04] sareg0 commented on #55
I like the circular progress bar for mobile.

I see what Anika means; lining up the sponsor packages with the gray boxes, or some other element to kind of keep the layout continuinity.

I really like V2, and think it would be excellent on both big and small screens :)

My vote is for V2

PS thank you so much @ApertoClaudi

[2015-05-06 20:43] anikalindtner commented on #55
I kinda would like to see a merge between sven's first version

![](https://cloud.githubusercontent.com/assets/2208/6656601/abc71150-cb2e-11e4-930d-14bffd462c63.png) and the latest ones from you @ApertoClaudi  <3

[2015-05-07 14:29] ApertoClaudi commented on #55
Thank you all for yor feedback! :smile_cat:  I've got a few questions before I start over.

@anikalindtner Text lengths are up to you, I'm not really sure, what you want to keep and what's not so nessesary. So I leave them in the designs and you cut off what you don't want to say, when it goes to the world wide internet thing. ;)

I didn't get the thing what you mean with the icon and the person.

[2015-05-08 11:04] anikalindtner opened #73 "Rework font"
Our font is a bit small and that's why @apertoclaudi, @alexwllms and I have decided to rebrand everything to PAPYRUS! .... (BÄM!)

hahaha, no, but actually resizing it might be a first good step to make it more readable, especially for our blog (now that we have so amazing blog posts with @alicetragedy and @sareg0 writing ALL THE THINGS <3 )

[2015-05-08 11:36] ApertoClaudi commented on #73
I made a screenshot, so that all of you can imagine how it will look like:
![rgsoc-papyrus](https://cloud.githubusercontent.com/assets/7582849/7535613/4b29d76e-f587-11e4-86f8-3d304216da8d.png)

[2015-05-08 11:39] ApertoClaudi commented on #73
… just kidding.
Here is a screenshot how the blog will look like with a typochange from 16 to 18 pixel:

![bildschirmfoto 2015-05-08 um 12 43 18](https://cloud.githubusercontent.com/assets/7582849/7535660/b5cc7054-f587-11e4-88d2-3e51e702a7ee.png)

[2015-05-08 11:43] anikalindtner commented on #73
hahahaha! AWESOME! LOVE IT! DO EET! SHIP IT!

[2015-05-10 15:05] lislis opened #75 "cors issues in firefox"
http://campaign.railsgirlssummerofcode.org/donations/stats.json and http://campaign.railsgirlssummerofcode.org/donations.json are causing problems in Firefox 37

[2015-05-11 13:21] sareg0 commented on #75
oh, is this something you can fix yourself. Is it just the progress bar that is causing a problem?

[2015-05-20 18:32] carpodaster commented on #12
I'm not familiar with all the permalink options jekyll has to offer. I see the [most recent blog post](http://railsgirlssummerofcode.org/blog/selection-process/) isn't scoped by date / year.

I think the 'cuprit' is the fully qualified path in the liquid header:

[code]

I think we should just have `permalink: awesome-mix-tape-vol-1` and have jekyll works its magic. Ideally we even call it `slug`

[2015-05-20 18:58] alicetragedy commented on #12
@carpodaster I'm not sure if that's what you meant, but I just tried changing the permalink to what you said (removing `blog/`) locally, and clicking on the single blog post shows the url `localhost:4000/my-awesome-blog-post`, with no date/year.

[2015-05-20 20:24] carpodaster commented on #12
@alicetragedy I remember having read something about a default permalink scheme defined in `_config.yml`  but I have to read up on that.

[2015-05-28 20:23] ApertoClaudi commented on #55
Hi Fans! Long time no see, but here are the results of the german votes ... errrmmm ...

I made a new design for the campaign page. I thought, it would be better, if it's more like the home, so I centered the content and included your feedback, e.g. that the four donation teaser use the whole space of the side and not just the left one.

Also, to do @lislis a favour, I killed the table and made it

[2015-06-02 15:06] saltinejustine commented on #55
Hey gang!
@anikalindtner pinged us to give some feedback on the design work going on here. A couple things I notice in the above mockup:

 - There is a lot of text in the "above-the-fold" section that could be either broken up in terms of space or in variations in text-size. Currently it just melts together and comes off as intimidating to those who'd rather skim through information quickly.

 - T

[2015-06-05 18:52] ApertoClaudi commented on #55
Hi @saltinejustine , thank you for all your input! :)

The logos in the sponsors section are just a mock up, I put them "quick and dirty" in their new order. But yeah, you're right, if we want it that way, the logos have to be vectors or have a better resolution.
Also a good point with the sponsor callouts. Now I see buttons as well. >.<

I keep your comments in mind for further changes! :)

[2015-06-07 16:09] ctrlaltjustine commented on #55
@ApertoClaudi happy to help! if you want any further feedback, feel free to ping me! <3

[2015-06-09 14:55] alicetragedy opened #83 "Crowdfunding campaign closing: photos for blog post"

[2015-06-09 14:57] #83 closed, assigned to nobody

[2015-06-10 12:13] anikalindtner opened #84 "RSVP for Kickoff Party @DaWanda"
Date: Friday, July 3rd 2015.
Where: DaWanda office, Windscheidstr. 18  10627 Berlin
When: starting at 7pm
What: BBQ

Please write a comment if you are joining! <3

[2015-06-10 12:13] anikalindtner commented on #84
I'm in.

[2015-06-10 12:36] alicetragedy commented on #84
I'll be there as well! :heart:

[2015-06-10 12:53] lucaspinto commented on #84
:raising_hand:

[2015-06-10 12:58] lislis commented on #84
:raising_hand:

[2015-06-10 12:59] sareg0 commented on #84
I will be there with bells on :) with a +1

[2015-06-10 13:14] berlintam commented on #84
woot!

[2015-06-11 09:40] carpodaster commented on #84
:raising_hand:

[2015-06-11 12:14] ApertoClaudi commented on #84
I'll be there! :tada:

[2015-06-11 14:56] katrin-k commented on #84
:raising_hand:

[2015-06-11 15:04] 1000miles commented on #84
:raising_hand: Thaaaank you!

[2015-06-13 12:02] alexwllms commented on #84
Pretty sure I'll be there :P

[2015-06-15 19:31] alicetragedy opened #88 "fix sidebar in single blog post view"
For some reason the sidebar has moved to the bottom in the single page view. :(

![screen shot 2015-06-15 at 21 26 07](https://cloud.githubusercontent.com/assets/3143348/8168761/83329f38-13a5-11e5-9cb0-75ccb2911e32.png)

[2015-06-17 16:12] Realtin commented on #84
I'm in + 1! :)

[2015-06-17 20:41] sxosxo commented on #84
See you there.

[2015-06-17 21:41] raluka commented on #84
I'll be there, thanks for invite!

[2015-06-18 11:56] siemieniec commented on #84
Me too! :raising_hand:

[2015-06-18 15:26] sareg0 commented on #88
done and done! fixed with Pull Request #89

[2015-06-18 15:26] #88 closed, assigned to nobody

[2015-06-18 18:48] eljojo commented on #84
we're going with @malwine :dancers:

[2015-06-19 13:31] hagenburger commented on #84
I’ll be there! :)

[2015-06-19 13:31] anomiseditrix commented on #84
see you there!

[2015-06-19 14:03] lauralindal commented on #84
me too!

[2015-06-19 14:38] starkcoffee commented on #84
yes please!

[2015-06-19 23:13] finnp commented on #84
:raising_hand:

[2015-06-20 11:33] ghost commented on #84
we are in!

[2015-06-22 08:41] nynnejc commented on #84
Will be there!

[2015-06-22 09:02] sareg0 commented on #84
we @rubyherzelein can you specify how many people from your group will be coming (is that for just the two students, or all the coaches and such too?)

[2015-06-22 09:11] nynnejc commented on #84
I know that I'll be there as well as Franzi & Tam. Erik can't make it, and I'll ask Duana if she can come.

[2015-06-22 11:31] janl commented on #84
Count me in!

[2015-06-22 15:48] ellenkoenig commented on #84
Would be happy to join!

[2015-06-22 16:23] ferbsx commented on #84
🙋 I'm in 😄

[2015-06-22 17:03] bioshrimp commented on #84
yes, please. :ghost:

[2015-06-22 18:04] juliusv commented on #84
I'm in!

[2015-06-22 19:03] johnjohndoe commented on #84
+1

[2015-06-22 19:38] alhewpl commented on #84
I'm in :) +1

[2015-06-23 05:33] BenStW commented on #84
happy to join!

[2015-06-23 06:49] kaeptnjules commented on #84
I`m in too. :)

[2015-06-23 09:45] atroyn commented on #84
Will be there!

[2015-06-23 10:00] plexus commented on #84
We're joining with a delegation from @ticketsolve. Eight people in total including @bjoska, @shanly, @smiroddi and myself.

[2015-06-23 10:09] anikalindtner commented on #84
\o/ whohoo! so cool!

[2015-06-23 10:21] ghost commented on #84
I can't join in the evening :-(

[2015-06-23 10:33] plexus commented on #84
Ok I guess we're seven then :)

[2015-06-23 16:27] sarahkami commented on #84
I'll happily join :)

[2015-06-24 11:19] madziaf commented on #84
I'll be there!

[2015-06-25 09:50] svenfuchs commented on #84
+1

[2015-06-26 19:17] arianepaola commented on #84
+1 and guest :)

[2015-06-27 14:48] ariaru commented on #84
Me, too!

[2015-06-27 21:57] neonichu commented on #84
+1

[2015-06-28 20:07] asaaki commented on #84
I'll try to make it.

[2015-06-29 07:28] BriocheBerlin commented on #84
I'll be there :)

[2015-06-29 10:46] jbspeakr commented on #84
In +2 ;D

[2015-06-29 11:25] bl00dymarie commented on #84
I am happy to join, too

[2015-06-29 12:57] frimelle commented on #84
I'll be there!

[2015-06-29 18:06] musagetin commented on #84
+1 =)

[2015-06-30 13:35] lucaong commented on #84
I'm in!

[2015-06-30 13:36] biancavlz commented on #84
:raising_hand:

[2015-06-30 13:36] cmw commented on #84
:hand:

[2015-06-30 13:37] Lelith commented on #84
o/ also in

[2015-06-30 18:37] markauskas commented on #84
oh yes!

[2015-07-01 07:42] starkcoffee commented on #84
Damn I can't make it anymore :(:(

On 30 June 2015 at 20:37, Tomas Markauskas notifications@github.com wrote:

[2015-07-01 08:27] anikalindtner commented on #84
@starkcoffee oh nooooes! :'(

[2015-07-02 10:47] langjoh commented on #84
I'll be there!

[2015-07-02 21:04] laushinka commented on #84
I'll be there! Possibly with plus one.

[2015-07-03 11:32] drogus commented on #84
I'll be there as well (if it's not too late to confirm ;) )

[2015-07-03 11:33] anikalindtner commented on #84
@drogus it's not! WHEEEEE \o/

[2015-07-03 14:15] juliusv commented on #84
Eek, gonna bring one or two more people - still ok? They might go hungry, that's ok :)

[2015-07-03 15:33] schultyy commented on #84
Late but I'll join as well

[2015-07-03 15:44] tyranja commented on #84
Me too, +1

[2015-07-03 15:47] sareg0 commented on #84
that should be fine @tyranja and @schultyy

[2015-07-06 14:58] sareg0 commented on #84
Closing this puppy up now! Thank you everyone who made it!! It was a blast, and of course thanks once again to the amazing @lauralindal  and the entire DaWanda crew for hosting us. <3 <3

Anyone with any great photos from the event, please do send them through to summer-of-code@railsgirls.com

We'd love to showcase them on the Rails Girls Summer of Code blog

xxx

[2015-07-06 14:58] #84 closed, assigned to nobody

[2015-07-13 09:20] emcoding opened #97 "Link from blog-site to Activities stream"
If people read the blog, there seems to be no easy way to jump to the Activities stream. Can we add a link on summerofcode.org to the teams.summerofcode.org?
Like a navbar-item, or a banner?

[2015-07-13 20:44] ghost opened #98 "Images for Team Techylite Introduction"
![mathewperry](https://cloud.githubusercontent.com/assets/6637042/8660195/1fedf26e-29b8-11e5-9969-f34f93eac081.gif)
![woohoo](https://cloud.githubusercontent.com/assets/6637042/8660196/22869166-29b8-11e5-9f18-c0366c5af016.jpg)
![akb6qvkpt2esvac5ullzz9qu11-l2v6kbfvcrivtasjx](https://cloud.githubusercontent.com/assets/6637042/8660335/0dd3e5ce-29b9-11e5-8a09-00259f3663ef.jpg)

[2015-07-13 20:48] #98 closed, assigned to nobody

[2015-07-16 12:58] alicetragedy commented on #75
@lislis is this still a thing?

[2015-07-23 09:12] alicetragedy commented on #73
iirc this has already been implemented – can we close the issue now? :) @anikalindtner @ApertoClaudi

[2015-07-23 09:14] alicetragedy commented on #97
I think it sort of makes sense from the blog, but not the rest of the site, which is why I wouldn't add it to the main navigation – we have to think of where we could place it so it's easy to find and not confusing (the sidebar is already so full of stuff :) )
we'll give it a think, but also feel free to add suggestions!

[2015-07-23 09:16] alicetragedy commented on #12
I'd love to have a final solution for this – right now, we are using dates in the permalink (specified in each post's header) directly.
Is that good enough?

[2015-07-23 09:34] carpodaster commented on #12
I think it's perfectly fine. The only thing that bothers me is that we have to manually edit the permalink. But unless we want to bust the permalinks of all existing blog posts that didn't include the date, I see no other way :crying_cat_face:

[2015-07-24 08:05] emcoding commented on #97
From a promotional view: I know people who found the SoC site because they are following us on twitter, and didn't find any info on what we are actually doing.
Also, when you are on the teams.app page, the 'home' menu item brings you to SoC home, and from there I would expect that I can go back to the teams.

Maybe @roosdebildt and me can have a look at different 'navigation user stories', and tak

[2015-07-24 08:48] carpodaster opened #111 "Burger-menu / link to extended header nav doesn't work anymore"

[2015-07-24 11:54] sareg0 commented on #111
This has been fixed by @lislis through this pull request
https://github.com/rails-girls-summer-of-code/summer-of-code/commit/c62de2404fb7df574f53487d384966d51f11fd4f

[2015-07-24 11:54] #111 closed, assigned to nobody

[2015-07-24 12:05] roosdebildt commented on #97
Well, I think it's up to the orga's to decide. But in my humble opinion, it wouldn't be a bad idea to link the teampage on the homepage. Isn't it the best concrete way of showing what RGSoC is all about? A lot of my friends understood way better what RGSoC is after having seen the teams-app! :+1:

[2015-07-24 12:26] carpodaster commented on #111
Awesome, thanks! :tulip:

[2015-07-25 08:23] alicetragedy commented on #97
Agree with both of your opinions @F3PiX and @roosdebildt. I don't know what you have planned for the next weeks / what's on your roadmap, but the navigation user stories sound good. :+1:

[2015-08-15 14:23] alicetragedy opened #130 "RSVP for Day Off / Boat Party"
HitFox and SoundCloud are throwing us a "Day Off" party.. and it's going to be on a boat! :boat: :ship:
## IMPORTANT: LOCATION CHANGE

There has been a last minute change to the location. The new location is not quite as well connected, but still reachable by public transport

The new address is:

**Scharfe Lanke 109 -131
13595 Berlin**
https://goo.gl/maps/xq5Zu

There is the bus stop, located 10-

[2015-08-15 16:32] nynnejc commented on #130
I'm in!
saw the change of location :)

[2015-08-16 07:55] WlFranzi commented on #130
same here !!

[2015-08-16 08:46] sareg0 commented on #130
I will be going

[2015-08-18 11:42] zaziemo commented on #130
Yeah, I'm also coming!

[2015-08-18 11:42] Realtin commented on #130
I'm in too! 🚢

[2015-08-20 10:14] finnp commented on #130
Me too :boat:

[2015-08-20 11:14] 1000miles commented on #130
noice, i'm in! thx. :palm_tree:

[2015-08-20 15:46] raluka commented on #130
me too! :boat:

NEW LOCATION ACKNOWLEDGED

[2015-08-20 19:35] hagenburger commented on #130
I’m in, thanks!

NEW LOCATION ACKNOWLEDGED

[2015-08-20 21:29] anomiseditrix commented on #130
yay! i'm in!

re: dietary stuff... i'm allergic to peanuts in all forms, chickpeas, and soy protein (soy sauce and oil are ok, but tofu, soy flour or soy milk are a NG). thanks!

[2015-08-21 08:39] sferik commented on #130
In. :tada:

[2015-08-21 08:46] starkcoffee commented on #130
yeh! :boat:

[2015-08-21 09:10] berlintam commented on #130
wooooot! :boat: :bell:

ps - I'm a vegetarian

oops I misread (aka did not read) the instructions:
NEW LOCATION ACKNOWLEDGED

[2015-08-21 10:08] lauralindal commented on #130
i wanna come, too ;) (but i understand that im not part of the priority-group & thats okay - ill come if there is room left :) )

[2015-08-21 10:19] sareg0 commented on #130
hey @lauralindal I am pretty sure there is space though, so consider yourself 'fest' :)

[2015-08-21 11:55] lauralindal commented on #130
@sareg0 <3

[2015-08-22 15:40] sareg0 commented on #130
hey everyone. Can you please let us know in your comments if you have any special food needs/preferences? Thank you!

[2015-08-24 20:16] ninabreznik commented on #130
Hey, I would also like to join the boat party and meet new SoC girls :)

[2015-08-24 20:23] busyxin commented on #130
:+1:
We still have some spots left, SoC students from previous years are also welcome, but please confirm before tomorrow (Tuesday) at noon. Thanks!

[2015-08-25 13:10] katrin-k commented on #130
in

[2015-08-25 13:16] lauralindal commented on #130
hey @sareg0, id prefer vegetarian food :)

[2015-08-25 19:40] sarahkami commented on #130
I would like to join, if it's ok :)
Vegetarian food for me

[2015-08-26 13:17] sareg0 commented on #130
hey everyone, the order has already been placed for food, so no more RSVPs are being taken for that. If you want to let us know that you are going to come, but don't need food, please continue to let us know about your attendance. Otherwise, see you tomorrow!

[2015-08-26 14:52] sareg0 commented on #130
@nynnejc @WlFranzi @zaziemo @Realtin @finnp @1000miles @raluka @hagenburger @anomiseditrix @sferik @starkcoffee @berlintam @lauralindal @ninabreznik @katrin-k @sarahkami

 The location for the boat party has changed. You can see the updated address in the issue description.

If you could update your comments to acknowledge the address change that would be great! That way we know everyone is inform

[2015-08-26 14:53] berlintam commented on #130
ACKNOWLEDGED!

[2015-08-26 14:56] sarahkami commented on #130
👍😊

[2015-08-26 15:01] katrin-k commented on #130
got it :). thanks!

[2015-08-26 15:06] zaziemo commented on #130
Seen!

[2015-08-26 15:06] Realtin commented on #130
ok!

[2015-08-26 15:09] nynnejc commented on #130
cool

[2015-08-26 15:15] 1000miles commented on #130
acknowledged! thanks, @sareg0

[2015-08-26 16:48] 1000miles commented on #130
on behalf of @lauralindal : acknowledged! :)

[2015-08-26 17:05] anomiseditrix commented on #130
Got it! See you all tomorrow!

[2015-08-27 07:53] katrin-k commented on #130
@sareg0 and me plan to go to the boat station by s-bahn & bike. we'll take the s5 from alexanderplatz at 13:51 (hopefully) and will bike from heerstr (~15-20 minute ride). you're welcome to join :).
meeting place at alexanderplatz is the middle entrance hallway beside the s-bahn info center at, say, 13:40.

[2015-08-27 10:08] finnp commented on #130
ACK

[2015-08-27 10:17] anomiseditrix commented on #130
@sareg0 @katrin-k Can I meet you two at Heerstr. and ride over to the boat station with you? I'm coming on sbahn from Zoologischer Garten so I could just get off at Heerstr. and rendez-vous with you there? My number is 017684402084 just in case we need to get in touch!

[2015-08-27 10:26] sareg0 commented on #130
@anomiseditrix absolutely! I'll call when we arrive if we don't spot you

[2015-08-27 10:44] anomiseditrix commented on #130
@sareg0 @katrin-k  Great! I'll aim to take the 14:05 s5 from Zoo, so I might be on the same
train as you!

[2015-08-27 11:48] sferik commented on #130
It looks like a rain storm is coming. Is there anything we should do or bring in case it starts to :umbrella:?

<img width="555" alt="screen shot 2015-08-27 at 1 45 37 pm" src="https://cloud.githubusercontent.com/assets/10308/9519778/00198c64-4cc2-11e5-99ad-7959a28d0f00.png">

[2015-08-27 12:56] sareg0 commented on #130
Look for the "Fuchsbau" boat

[2015-08-27 22:10] anomiseditrix commented on #130
Thanks everyone for a fantastic afternoon and evening! Had a wonderful time!

[2015-08-27 22:21] sareg0 commented on #130
seconded! Thanks @busyxin for all your orga work. And of course, HitFox and Soundcloud for sponsoring and making it possible :)

[2015-08-28 08:49] busyxin commented on #130
Thanks everyone for attending and hope you all had a great time on board! Thanks @sareg0 for coordinating the guests. I hope we can repeat this next year ^^

Btw, we found another lonely towel looking for its owner, anyone missing a striped towel?

[2015-08-28 08:59] anomiseditrix commented on #130
@busyxin if it's the multicoloured thinly striped one then it's the one i messaged you about last night!

[2015-08-28 10:25] busyxin commented on #130
@anomiseditrix there are actually 2 towels, yours and the other one which is also multicoloured and striped.

One is rather beige and the other blueish, which one is yours?

[2015-08-28 10:30] anomiseditrix commented on #130
mine is red and black and yellow and all colours with thin stripes?

[2015-08-28 12:33] busyxin commented on #130
ok, yep got that one, I think in the dark I thought the yellow was beige. :)

[2015-08-28 12:45] anomiseditrix commented on #130
lol... Thanks! :)

[2015-08-28 13:26] 1000miles commented on #130
hey, thank you so much for the funny boat party yesterday. we had a great time talking to a lot of you and new people we didn't know yet.

best wishes,
thuy (and on behalf of @raluka)

[2015-09-01 09:53] #130 closed, assigned to nobody

[2015-09-13 19:28] alicetragedy opened #135 "Sponsors page glitch"
The [sponsors page](http://railsgirlssummerofcode.org/sponsors/) is looking a little weird, it would be great to have more space at the top unter the header, a proper heading, or something that doesn't make the intro to the sponsors look so 'lost'.

![screen shot 2015-09-13 at 21 20 54](https://cloud.githubusercontent.com/assets/3143348/9838450/333d5892-5a5e-11e5-8b2b-43eae001a3ac.png)

[2015-09-15 09:26] anikalindtner opened #138 "RGSoC Wrap Up in Berlin"
We want to wrap this year's Rails Girls Summer of Code program up with all of you wonderful people.
:purple_heart: :yellow_heart: :green_heart: :heart:  Some teams will present their projects again and share their summer with us, and we want to say thank you to our wonderful sponsors (e.g. amazing SoundCloud) with this. There will be healthy snacks as well as assorted drinks and a wide range of al

[2015-09-15 09:33] alicetragedy commented on #138
I'll be there! :tada: :confetti_ball: :space_invader: :sparkles: :two_hearts:

[2015-09-15 09:35] anikalindtner commented on #138
Me too! :sparkles: :dancers: :sparkling_heart:

[2015-09-15 09:42] neonichu commented on #138
Me too! :dancer: :star2: :dizzy:

[2015-09-15 09:42] sareg0 commented on #138
I'll be there with bells on

[2015-09-15 09:46] Lieke22 commented on #138
I'll be there! (In Berlin that week :dancer: )

[2015-09-15 09:49] ShellyCoen commented on #138
Jealous! Have fun everyone <3

[2015-09-15 09:49] Realtin commented on #138
I'll be there with a +1

[2015-09-15 09:50] janl commented on #138
I won’t be there, but you should all come to the big JSConf EU party at Radialsystem after the RGSoC Wrap Up, we start at 21:00 and it’s going to go for a while :)

[2015-09-15 09:52] anikalindtner commented on #138
@janl \o/ will do! Count me in.

[2015-09-15 09:52] zaziemo commented on #138
I'll come as well, but probably a little bit later.

[2015-09-15 09:54] Realtin commented on #138
@janl yeeeees! I'll be there!

[2015-09-15 10:04] 1000miles commented on #138
i am in, too. thanks! :)

[2015-09-15 10:05] aberracja commented on #138
I'll be there!

[2015-09-15 10:16] viddity commented on #138
I'll be there! <3

[2015-09-15 10:47] raluka commented on #138
me too! :tada:

[2015-09-15 10:57] siemieniec commented on #138
I'll be there too.

[2015-09-15 11:02] starkcoffee commented on #138
lovely invite @anikalindtner. i'll be there of course!

[2015-09-15 11:19] ariaru commented on #138
Me, too :)

[2015-09-15 11:24] alhewpl commented on #138
I'll be there too. +1

[2015-09-15 12:17] kaeff commented on #138
Hamburg represents! :ship: :hamburger:

[2015-09-15 15:53] Malwine commented on #138
I am on board. :computer:  :gem: :heart:  :boom:

[2015-09-15 15:58] eljojo commented on #138
bis dann!

[2015-09-15 19:42] flaki commented on #138
🎇🎆 yay me to! 🎉😻

[2015-09-16 12:20] ctrlaltjustine commented on #138
Since I'll actually be in Berlin, **COUNT ME IN!** :two_hearts:

[2015-09-16 12:21] lislis commented on #138
\o/ I'll be there!

[2015-09-16 13:06] rachelmyers commented on #138
I'd love to come! :ok_woman:

[2015-09-16 14:48] WlFranzi commented on #138
cool

[2015-09-16 15:32] Byron commented on #138
@kaeff Me to !

[2015-09-16 15:57] afknapping commented on #138
Will be there!

[2015-09-16 17:34] embrilliant commented on #138
Who can join this event? I'd like to come.

[2015-09-16 20:32] sareg0 commented on #138
Hi @embrilliant we'd love to have you there! Anyone should join who is interested in hearing about the experiences of the RGSoC participants for this year, and celebrating their work over the last 3 months. Can't wait to see you there :)

[2015-09-17 06:38] bastilian commented on #138
I'll be there!

[2015-09-17 09:57] froilainhaeckse commented on #138
I'm in

[2015-09-17 11:49] svenfuchs commented on #138
:+1:

[2015-09-17 15:06] sarahkami commented on #138
I'm in ⭐️

[2015-09-17 19:49] thatbettina commented on #138
Me too!

[2015-09-18 18:34] chastell commented on #138
Just booked a certain train arriving 20:06 at Ostbahnhof, so if you’ll still have me ~8:30 pm I’m more than happy to join. :sparkling_heart:

[2015-09-18 19:09] anikalindtner commented on #138
yesssss of course @chastell! awesome awesome sauce :fireworks:

[2015-09-18 19:39] alicetragedy commented on #138
@chastell it will not be a real party until you get there <3

[2015-09-20 11:41] FloorD commented on #138
I'm in. :tulip:

[2015-09-20 16:15] chastell commented on #138
Were… were the RubyConf PT karaoke videos leaked already? :scream:

:tada:

[2015-09-21 07:42] hagenburger commented on #138
I will try to join for an hour or two between Reject.JS and their party. See you! :)

[2015-09-21 08:11] anikalindtner commented on #138
@hagenburger but reject.js is on thursday, the 24th, no?

[2015-09-21 08:18] hagenburger commented on #138
@anikalindtner hmm, right. I think I messed up my calendar a bit while changing time zones ;)

[2015-09-22 07:36] jbspeakr commented on #138
Me +2

[2015-09-22 09:02] johnjohndoe commented on #138
+2

[2015-09-22 15:36] lucaong commented on #138
I'm in :)

[2015-09-23 02:25] indirect commented on #138
I will come!

[2015-09-23 04:19] BriocheBerlin commented on #138
I'll be there!

[2015-09-23 07:10] zaziemo commented on #138
I'd also like to bring one person, please.

[2015-09-23 07:17] plexus commented on #138
I'm coming as well :sparkles: :space_invader: :ghost: :bamboo: :sparkles:

[2015-09-23 09:03] sxosxo commented on #138
I'm in.

[2015-09-23 12:31] miveronese commented on #138
I'm in :)

[2015-09-23 13:36] zzak commented on #138
Ok!

[2015-09-23 14:08] sareg0 commented on #138
good on ya' @zzak

[2015-09-23 14:12] lucaspinto commented on #138
I should be there.

[2015-09-23 18:35] madziaf commented on #138
I'll be there!

[2015-09-24 07:37] fannivuniconnu commented on #138
I'll be there too!

[2015-09-24 11:33] aakritigupta commented on #138
I'll be there too! :D

[2015-09-25 04:56] flyjwayur commented on #138
I'll be there :D

[2015-09-25 08:27] anomiseditrix commented on #138
see you tonight! :dancer:

[2015-09-25 10:31] solnic commented on #138
"Piotr S. Conspiracy" is coming to RGSoC Wrap Up /cc @chastell :joy:

[2015-09-25 10:43] sareg0 commented on #138
so many amazing people in attendance!

[2015-09-25 12:59] pxlpnk commented on #138
joining too (:

[2015-09-25 15:06] necccc commented on #138
I'll be there :)

[2015-09-25 15:08] nickgrace commented on #138
Please RSVP me. :)

[2015-09-25 15:09] jgunawan commented on #138
I would like to rsvp, too. Thanks!

[2015-09-25 15:16] hubudibu commented on #138
yay me too 🎉😺💫

[2015-11-02 17:41] sareg0 commented on #138
okey dokey, this is all closed up :) Thanks for coming everyone!!

[2015-11-02 17:41] #138 closed, assigned to nobody

[2015-11-11 12:29] alicetragedy opened #167 "Hall of Fame"
We need a Hall of Fame page! This page will include:
- sponsor logos (platinum and up)
- Teams that took part
- Projects contributed to
- Special moments/success stories/etc..

The initial idea is to create one page for each year (2013, 2014, 2015) with all the relevant information, and use a grid system to show all the information effectively. For example: using team logos/avatars when available,

[2015-11-11 14:15] sareg0 commented on #167
This was the very brief 'wireframe' we put together during our session.

<img width="948" alt="screen shot 2015-11-11 at 3 13 59 pm" src="https://cloud.githubusercontent.com/assets/1307818/11092874/e7f570ca-8886-11e5-8a78-f675ec04aea7.png">

It may change a bit to the final result, but I'll just try to get a working draft completed for now

[2015-11-11 16:22] alicetragedy commented on #167
awesome @sareg0! :+1:

[2015-12-01 09:51] alicetragedy commented on #73
We've now changed the font to 18px as main body size everywhere across the site.
I've noticed that bold and italic don't show so well though (probably missing styles), we might have to add those styles to the font so it shows properly. I will take care of that so we finally have proper bold and italic styles that don't look crappy! <3

[2015-12-01 10:51] alicetragedy commented on #73
bold and italic finally fixed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/170. :tada:

[2015-12-01 11:08] alicetragedy commented on #73
![before-after](https://cloud.githubusercontent.com/assets/3143348/11499149/2e48c69c-9824-11e5-83ef-55e7620af748.jpg)

makes a nice difference especially on the italics.
I think we can close this!

[2015-12-01 11:08] #73 closed

[2015-12-01 11:22] anikalindtner commented on #73
:tada:

[2015-12-07 16:27] alicetragedy opened #171 "Update timeline"
It's a new season! \o/
We should probably update the timeline on the website soon, as we approach the end of the year and we start putting things in motion for next year.

[2015-12-07 17:35] anikalindtner opened #173 "Get rid of the sidebar (partially?)"
At least we could delete the stuff that people now find in the menu:

![screen shot 2015-12-07 at 18 33 50](https://cloud.githubusercontent.com/assets/1711357/11634493/1b1216ae-9d11-11e5-8113-efff2910f1d7.png)

That would make it all a bit more sleek and easier to read. Wdyt?

Ping @apertoclaudi?

[2015-12-07 22:06] alicetragedy commented on #171
done in 088d9f603676f032174bb7cfbfae0ab2f275cc7d

[2015-12-07 22:06] #171 closed, assigned to alicetragedy

[2015-12-07 22:09] anikalindtner commented on #171
ah sorry, totally did not see this issue!

[2015-12-07 22:09] anikalindtner commented on #171
#YOLOMERGED ALL THE THINGS

[2015-12-07 22:11] alicetragedy commented on #171
😀😀😀

[2015-12-07 22:14] alicetragedy commented on #173
I'm open to thinking about this as an alternative solution, but I think the idea of the sidebar is a way to see where you are within the site and to access an alternative menu without using the burger button (which can be sort of disruptive). Unless we know exactly what kind of changes we want to do, I wouldn't invest too much time or effort into changing it since it's a low priority issue, but I'

[2015-12-14 16:06] alicetragedy opened #174 "Adding categories or tags to the blog"
Since our blog is starting to grow quite a bit, I'd love to divide the posts into categories or add tags to them. For example, a category to see all the blog posts written by students (`student-posts`), one for conference-related stuff (`conferences`) and another for our `tips-and-tricks` or `success-stories`. This came to mind when browsing through (outdated) links on the Travis Foundation websit

[2015-12-15 08:06] carpodaster commented on #174
Very cool! :+1:

[2016-01-04 10:34] alicetragedy opened #175 "navigation glitch on mobile"
When viewing the website on mobile and clicking on the burger icon, the navigation list appears, but it's not possible to scroll all the way to the bottom of the navigation.
Furthermore, from there there is no possibility to close the menu/get back to the home page — this should be changed to 1) either allow for the top bar to be shown at all times (so clicking on the logo takes you back to the ho

[2016-01-29 03:01] nalasbali opened #177 "Open Source to modernize CS"
Hi,

I would like to invite you to participate in my PhD research which is about contributing to Open Source to modernize Computer Science education. The survey will take few minutes but will be of great value to my research as i need direct evidences from OS users like you, plz, to do my research.

I hope you will be happy to participate by clicking on the related link to take the suitable survey

[2016-02-01 16:07] alicetragedy opened #178 "Fix donation link to sponsorship packages"
`packages.md` includes the different sponsor packages we offer, but the link when clicking on "Become a Sponsor" doesn't work. :see_no_evil:

[2016-02-01 16:45] alicetragedy commented on #178
fixed in e7ecfa9292d5cf9c5e5ecfcd226cacef293730fa

[2016-02-01 16:45] #178 closed, assigned to nobody

[2016-02-09 13:56] alicetragedy opened #179 "make use of heading hierarchy more consistent"
Right now, it seems like the headings we use in different pages throughout the site are slightly inconsistent, especially when looking at the sidebar headings and comparing them to single pages (Roles, Guides, etc..) and to the campaign-related pages (eg. sponsors).
Since the defaults in `variables.scss` seem pretty sensible, I believe our problem is in how we use the headings throughout the site

[2016-02-09 15:04] alicetragedy opened #180 "Add styleguide"
Given the current inconsistency of the styling (see https://github.com/rails-girls-summer-of-code/summer-of-code/issues/179) I think adding a style guide for the future could really help. Maybe we could even use [Living Style Guide](https://livingstyleguide.org/) since it's one of our RGSoC projects :)

[2016-02-09 20:49] carpodaster commented on #180
Excellent! :tada:

[2016-02-13 18:38] alicetragedy commented on #135
this monstrosity was fixed with 034c48b5611eed80143beb6d7e7e92be01d37e16. closing!

[2016-02-13 18:38] #135 closed, assigned to alicetragedy

[2016-02-15 12:27] alicetragedy opened #184 "improve website copy"
Right now, the site is just "average", with a lot of text that needs reworking.
For this, we need to define what our message is. We have several target groups (future students, sponsors, and volunteers) and so it's extremely important to have the main message be consistent and the wording be clear.

Since this is now the 4th year, we definitely have a lot of material to work with ie. stats from th

[2016-02-15 21:42] alicetragedy commented on #55
We've done a bit of work and improvements on this last year, but I believe we could make it look even better. As far as I know we haven't really incorporated any of @saltinejustine's feedback into the page. I'm keeping this issue open for now and adding it to one of the milestones.

[2016-02-15 21:48] alicetragedy commented on #75
@lislis I'd like to close this if it isn't an issue anymore. anything I can do to check? :)

[2016-02-15 21:49] alicetragedy commented on #8
I'm planning to take care of this.. eventually.. maybe before the start of the program.

[2016-02-15 21:50] #177 closed, assigned to nobody

[2016-02-16 10:36] lislis commented on #75
Seems to be fine now :)

[2016-02-16 10:36] #75 closed

[2016-02-16 10:54] alicetragedy commented on #75
:tada:

[2016-02-24 14:06] alicetragedy opened #190 "improve responsiveness of campaign page"
- [x] resize image according to screen size ( fixed in 04c4ed79f33cafbe5a8cc801ca0574772e904f76)
- [ ] improve view of donor list

[2016-03-08 17:38] alicetragedy commented on #173
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/192
I'm closing this!

[2016-03-08 17:38] #173 closed, assigned to nobody

[2016-03-11 14:23] mkalininait opened #193 "Website markup is slightly broken"
The Become-a-sponsor/Timeline/Help-out section markup is broken on most pages (e.g. CC guide, mentor guide etc).
![screen shot 2016-03-11 at 14 37 40](https://cloud.githubusercontent.com/assets/1745735/13704576/e460b76a-e79c-11e5-9cec-4c39e98c13b8.png)

[2016-03-11 18:52] alicetragedy commented on #193
fixed in https://github.com/rails-girls-summer-of-code/summer-of-code/commit/81231c9c484ccbfe8a721fca367b34f7d64007ab

[2016-03-11 18:52] #193 closed, assigned to alicetragedy

[2016-03-11 21:33] alicetragedy opened #194 "Add mobile-friendly image to application guide"
the image is a little small on a mobile device, so Beccy has provided us with an image that is split differently to improve the mobile experience.

[2016-03-17 17:12] alicetragedy opened #199 "Press page"
It would be great to have a proper, nice-looking press page on the site. :)
@anasofiapinho is working on collecting press-related content, this will also help us to get a grip on our actual press material. As a first inspiration, she suggested the following: https://brandfolder.com/slack

In this issue, I'd also like to collect ideas of styles and a list of things to add to the press page in the f

[2016-03-17 22:54] mkalininait opened #200 "Add Coaching Companies to the Hall of Fame"

[2016-03-18 06:00] alicetragedy commented on #200
could you add this as a point in the already existing issue https://github.com/rails-girls-summer-of-code/summer-of-code/issues/167 instead? that way we have a better overview when setting up the hall of fame :) thanks!!

[2016-03-18 09:26] mkalininait commented on #200
Good point @alicetragedy, thank you! Closing this issue then.

[2016-03-18 09:27] alicetragedy commented on #200
yay! :tada: and great that you pointed it out the other day, we don't really support CCs on the site enough and this definitely has to change.

[2016-03-18 09:27] #200 closed, assigned to nobody

[2016-03-23 19:57] 1000miles opened #203 "404 error page after click on the logo on donation page"
Dear all,

not sure if this is already noticed but I guess the redirect link of the rgsoc logo on the donation page (`http://railsgirlsberlin.github.io/summer-of-code`) needs to be updated?

![rgsoc_broken_link_2016-03-23_0200](https://cloud.githubusercontent.com/assets/4077916/13998525/f8636114-f137-11e5-8749-a30b6f3812e1.png)

Also the README.file?

![00001034](https://cloud.githubusercontent.co

[2016-03-23 20:01] alicetragedy commented on #203
thanks for this! I will take a look today or tomorrow <3

[2016-03-23 20:04] 1000miles commented on #203
wow! that was a quick reply. thank you. <3

[2016-03-23 20:18] alicetragedy commented on #203
@1000miles of course, you're also welcome to create a pull request, if you want to change it yourself :sparkles:

[2016-03-24 08:50] 1000miles commented on #203
@alicetragedy okay, i'll do it. is it enough, if i do it tomorrow? :) thanks for updating the readme-file already. :+1:

[2016-03-24 08:53] alicetragedy commented on #203
@1000miles absolutely. the thing is, I can't reproduce it locally, and I really don't understand where that link actually comes from. please ping me though if you need help! I will be around.

[2016-03-25 11:21] 1000miles commented on #203
@alicetragedy I tried to reproduce it and it is still there as you can see from the screenshot. At the bottom you see the link to `railsgirlsberlin.github.io/summer-of-code` when I hover over the logo. :)

<img width="1280" alt="screen shot 2016-03-25 at 11 56 33 2" src="https://cloud.githubusercontent.com/assets/4077916/14043092/e13749c0-f280-11e5-9ab9-c11a552cdd19.png">

When I try to access the

[2016-04-01 15:36] alicetragedy commented on #203
hey @1000miles, thanks for looking into it (and sorry I didn't reply sooner). It seems like part of the campaign stuff is handled in another repo, which is why it was not possible to find the link to fix :see_no_evil:
I've found it now and made changes here: https://github.com/rails-girls-summer-of-code/rgsoc-campaign/commit/b0f9f505d5e926849cfa2f3f78c918bbcd29a8cc
that should hopefully fix it. th

[2016-04-02 21:16] alicetragedy opened #205 "update site configuration to kramdown"
Background: https://github.com/blog/2136-a-look-behind-our-decision-to-standardize-on-a-single-markdown-engine-for-github-pages

[2016-04-04 16:11] 1000miles commented on #203
@alicetragedy Sorry, I was abroad and just came back yesterday. Thanks for looking into this.

I just tested it again (also in incognito mode with Firefox and Chrome) but it's still there.

<img width="1274" alt="00000066" src="https://cloud.githubusercontent.com/assets/4077916/14248123/1e6084de-fa73-11e5-95e9-b3f0b6ab6fc5.png">

[2016-04-06 09:14] alicetragedy commented on #203
@svenfuchs do you have any idea how I can fix this?
I've pushed a commit which I hoped would fix it (and assumed it gets deployed automatically) but it looks as though this issue is still there. it's not a big deal, but it's annoying. Is there any way you can help? :) (I'm also not very familiar with the campaign page / donation setup)

[2016-04-06 09:27] svenfuchs commented on #203
@1000miles thanks for reporting! @alicetragedy, i believe that's these: https://github.com/rails-girls-summer-of-code/rgsoc-campaign/blob/b0f9f505d5e926849cfa2f3f78c918bbcd29a8cc/app/views/layouts/application.html.slim#L17-L21

[2016-04-06 10:59] alicetragedy commented on #203
@1000miles I've deployed, so I believe this should be fixed :) feel free to close if that's the case!

[2016-04-06 11:49] 1000miles commented on #203
@alicetragedy Looks good to me, thank you! :) What was it finally? Because the last merge was not deployed yet?

[2016-04-06 11:51] alicetragedy commented on #203
@1000miles yes, my commit was not deployed. quite a stupid mistake :p
but yeah, the issue was in another repo (so that's also quite confusing for bug reporting). thank you for helping us out on this one, I guess we can close it then :tada:

[2016-04-06 11:51] #203 closed, assigned to nobody

[2016-04-10 09:03] alicetragedy commented on #205
according to [this article](https://help.github.com/articles/updating-your-markdown-processor-to-kramdown/), we don't need to do anything, since our config is already using kramdown. hooray! :tada: :confetti_ball:

[2016-04-10 09:03] #205 closed, assigned to alicetragedy

[2016-04-13 14:50] alicetragedy opened #207 "Upgrading Jekyll from 2.x to 3.x"
I've just realised that there's a couple of new features in Jekyll 3.x, so we might want to upgrade at some point. 🎉
Related info in the [docs](https://jekyllrb.com/docs/upgrading/2-to-3/).

[2016-04-13 14:52] alicetragedy opened #208 "adding CONTRIBUTING.md"
we really need to add contribution information for newcomers who might want to offer their help on the site. ✨

[2016-05-21 10:58] alicetragedy opened #211 "add list of categories in blog post template"
As an improvement on https://github.com/rails-girls-summer-of-code/summer-of-code/pull/206, it would be cool to change the single post template to show the categories the post belongs to under the title. This might involve some tweaks to the current category listing page or adding an additional template for a single category (overview of all the posts that belong to it).

[2016-06-06 18:55] troubalex commented on #179
I started looking at the different pages, and there are a number of inconsistencies. Some headlines use all caps, others don't, and there are differences regarding whitespace above and below the headlines.

Do we want all pages to use the same kind of headline styles? Or is there some kind of other system at work, that I don't see? 😄

Also, there is only a sidebar on the blog, is that correct?

[2016-06-06 19:06] alicetragedy commented on #179
hey @troubalex, thanks for looking into it! To answer all your questions:
- I think we'd like all pages to use the same kind of headline styles — except for the sponsor page, where I think the all caps work quite well in combination with the heading being red (unless you think otherwise?). There is otherwise no other system at work ;)
- the sidebar has been removed from all pages, and it's only on

[2016-06-06 19:11] troubalex commented on #179
I actually thought about moving the all caps style over to all the other pages, because I think it makes for a nice separation between H1s and H2s.

Alternatively, we could make the difference in font sizes bigger.

Anyway, I'll play around with that, and post some screenshots along the way. 📷

[2016-06-06 20:18] alicetragedy commented on #179
yes please! I also quite like it, and I'd be happy about changes :)
thanks again! 👯

[2016-06-06 21:08] alicetragedy opened #215 "timeline stars flicker when hovering on main page sections"
The right side ⭐ list elements of the timeline on the main index flicker (as in, disappear and then reappear) when hovering on the different landing-teasers. This seems to be triggered by a combination of the `transform` on the landing-teaser link hover and of the `display: inline-block` set on an element with `.fa` class (a font awesome default).

Not sure what the best way to overwrite it is, bu

[2016-06-10 09:47] troubalex commented on #180
Okay, so I've looked more closely at the code now.

I think that before we can make a sensible style guide that also includes components such as headers, media elements, etc it might be wise to refactor the Sass files. There is a lot coming directly from Bootstrap, while other things are spread out over several files, although they should probably live close to each other.

It should't be too much

[2016-06-10 11:02] alicetragedy commented on #180
Hey @troubalex, thank you for taking the time to look into it.
We're planning a redesign at the end of the summer, (or, anyway, on time for next year) so maybe it would be a good idea to wait until then to refactor the files and work on the styleguide, as you suggested. I don't want to ask you to do too much work that will then need to be adapted again for the new use case.

[2016-06-10 11:18] troubalex commented on #180
Sounds good to me. Close or remove milestone?

[2016-06-10 12:02] alicetragedy commented on #180
I'll add a new, "after the program" milestone and assign the issue to it. Thanks for your help!

[2016-06-11 12:10] anasofiapinho commented on #199
Update: We have been working on the press page and press kit on the issue [#128 from the organization repo](https://github.com/rails-girls-summer-of-code/organization/issues/128).

[2016-06-11 12:12] anasofiapinho commented on #199
We have a new Press Page!
https://github.com/rails-girls-summer-of-code/summer-of-code/pull/214

[2016-06-20 13:10] alicetragedy opened #220 "Add coaching company list for 2016"
We have the sponsors listed on the website but don't have a list of the coaching companies, which is a pity given how much they invest in helping teams by providing space and more coaches.

I'd like to create a page similar to the sponsor page, where we list all the coaching companies with their logo (and maybe their location and/or a blurb about the company).

[2016-06-20 17:04] #179 closed, assigned to troubalex, alicetragedy

[2016-06-21 02:33] anasofiapinho commented on #220
I am going to add them here:
https://docs.google.com/spreadsheets/d/15TqkQI4y_wT5VRRUM4ZnCNUeuAu4jmiHysFWmw-U5OQ/edit?usp=sharing

[2016-06-21 09:46] carpodaster commented on #220
@alicetragedy Does "coaching company" still fall under the definition of sponsor? I remember we talked about that two years ago because that would be unfair for sponsors who chip in real money.

That being said, I like the idea of listing coaching companies. :)

[2016-06-22 18:11] anasofiapinho commented on #220
@alicetragedy I have added all the coaching companies I could find and linked it to the websites. When I saw some info about coworking spaces and university I added that as well. Maybe we could also talk with the supervisors to get the rest of the info. I was wondering if we could make a blog post about the working spaces of our students. I know it's not directly related to the coaching companies,

[2016-06-23 08:30] alicetragedy commented on #220
awesome, great work @anasofiapinho. Thanks!
I think a blog post about the working spaces is a great idea, can you add this to the [blog post idea list](https://docs.google.com/spreadsheets/d/1Hz0WFG72o2GzYX9fytVKIhmIG1ITczcyUC2KfvFZWNw/edit#gid=830023321) in the spreadsheet? then we have an overview. If you'd like to write it/want to take ownership, feel free to add yourself to the blog editorial

[2016-06-24 11:29] igorwwwwwwwwwwwwwwwwwwww opened #223 "Use equal-area world map projections (e.g. Gall-Peters)"
Hi lovely RGSOC team!

I saw that you are using the common [Mercator](https://en.wikipedia.org/wiki/Mercator_projection) projection for the world maps ([example](http://railsgirlssummerofcode.org/blog/2016-06-24-more-teams-aye)).

[This clip](https://www.youtube.com/watch?v=vVX-PrBRtTY) from the show "The West Wing" makes a good case for some of the issues with this projection and suggests some al

[2016-06-24 11:30] anikalindtner commented on #223
yes, totally on board with that! 💖  thank you for pointing that out @igorwwwwwwwwwwwwwwwwwwww! @anasofiapinho maybe you can find a good picture of these maps and start using them for our materials?

[2016-06-24 11:32] igorwwwwwwwwwwwwwwwwwwww commented on #223
I have tried to find some pretty ones to use and have had a hard time doing so. [The wikipedia one](https://en.wikipedia.org/wiki/Gall%E2%80%93Peters_projection#/media/File:Gall%E2%80%93Peters_projection_SW.jpg) looks quite nice, but has very prominent grid lines. Perhaps some doctoring could be done using some of the resources from [Wikimedia](https://commons.wikimedia.org/wiki/Category:Gall-Pete

[2016-06-24 12:33] anasofiapinho commented on #223
Hey @igorwwwwwwwwwwwwwwwwwwww and @anikalindtner,

I know about Gall-Peters map and it's very interesting. However I am not sure we should use it because of the following reasons:
1. People are not used to it and it will be harder for them to find the locations
2. It's harder to find beautiful maps like you said before
3. I have image proportions I need to respect in order to publish on twitter an

[2016-06-28 10:57] anikalindtner opened #226 "Berlin RGSoC Kick-Off-Picnic! Now: Indoor-Picnic at Travis CI GmbH"
#### UPDATE:

**The weather goods don't seem to be with us and we will do the picnic tomorrow at Travis CI, Rigaer Str. 8 instead. We have a nice balkony and a courtyard, so if the ☀️  decides to join us, we can enjoy that as well.**
##

We want to start this year's Rails Girls Summer of Code program up with all of you wonderful Berlin people. :purple_heart: :yellow_heart: :green_heart: :heart:

T

[2016-06-28 14:30] siemieniec commented on #226
Woohoo! I will be there. Thanks!

[2016-06-28 14:48] anikalindtner commented on #226
🙋  will be there and bring some bratwurst (~20) for bbq-ing!

[2016-06-28 17:16] sareg0 commented on #226
I will be there, but probably from 19:00 or 19:30
I will also bring a vegan snack such as dips 'n' veggies, or some such thing

[2016-06-29 14:29] Karla-Isabel-Sandoval commented on #226
Would love  to join as well and to meet @sareg0 and @anikalindtner in person ! Bringing watermelon and zucchini.

[2016-06-29 14:36] alicetragedy commented on #226
I'll be there as well! Will bring cherry tomatoes 🍅  and a cantaloupe 🍈 !

[2016-06-29 14:43] lisbethmarianne commented on #226
It's my birthday. I'd love to celebrate with RGSoC. 🎈

I'll bring some birthday cake. 🍰

[2016-06-29 15:17] porras commented on #226
I'm in! I'll bring the Spanish version of Kartoffelsalat and Alkoholfrei Weißbier ☀️ 😎 🎈

[2016-06-29 20:37] carpodaster commented on #226
I'll be there (with progeny 👶 ) from 18-19:30'ish – I'll bring a salad based on beans, apples and green onions. Sounds yucky but it's actually super-delicious. I promise!

[2016-06-30 12:57] soff22 commented on #226
Hello everybody,
I`m so happy I will be with you for the kick-off party this year. I am a student from the last year edition, **team RailsGEnthusiasts**. This year I will be supervisor of team XYZ from Prague.
See you next Friday :)

[2016-07-01 07:52] hagenburger commented on #226
I’m happy to join :)

[2016-07-01 09:45] langjoh commented on #226
Hallo, Team Joda aka Dayana & Johanna are happy to join as well. We will bring Fladenbrot, Halloumi and olives.

[2016-07-01 21:02] hoffl commented on #226
Hi! I'll be joining, too, but I don't know yet what I'll bring. I'll think of something and note it here. :-)

[2016-07-04 07:37] bitboxer commented on #226
Will also join you all 👍
![](http://i.giphy.com/lcygVgIY9vhvy.gif)

[2016-07-04 08:51] soff22 commented on #226
I`m almost ready :) Finally I found a good place near Volkspark Friedrichshain to spend the nights in Berlin. I`ll bring some typical Bulgarian food and I think to prepare some healthy bites :)
See you on Friday guys :)

[2016-07-04 11:42] remydagostino commented on #226
I'm in. Will bring some vegan snacks.

[2016-07-04 17:05] joecorcoran commented on #226
I'll be there! ❤️

[2016-07-05 22:02] jessicarose commented on #226
I'll be there, if that's ok?💖

[2016-07-06 05:52] alicetragedy commented on #226
Yesssssss @jessicarose that's more than ok! 🙌

[2016-07-06 05:56] bitboxer commented on #226
You are in town @jessicarose ? Awesome! See you on Friday 👍

[2016-07-06 09:33] froilainhaeckse commented on #226
Will be there.

[2016-07-06 11:45] bl00dymarie commented on #226
Hey, so I am planning to bake some lemon key muffins, not vegan but vegetarian :P

Is anybody considering an alternative place to go in case of rain/bad weather? Seems this year we are heading directly from springtime to autumn :D

( @soff22 I've read "you are a survivor of the XYZ team, just a supervisor that's great :) )

[2016-07-06 12:35] soff22 commented on #226
Thanks Marie :).
Hey guys, could you please somebody of you give me mobile number, because this is my first time in Berlin and I`m not sure where exactly to find you in the park, and just for any case.
Thank you.

[2016-07-06 15:59] alicetragedy commented on #226
@lilaluca Hey Marie, yes we're working on an alternative location and @anikalindtner will post more info about it in the issue once this is settled. @soff22 unfortunately I have a foreign number, but I think there is a good number of people from Germany here who can send you a private message with their number. :)

[2016-07-06 17:06] s-urbaniak commented on #226
Hello, I will be there too :-)

[2016-07-07 07:59] anikalindtner commented on #226
UPDATE: We moved the picnic location because of ☔ . It's now at Travis CI GmbH, Rigaer Str. 8! See you tomorrow <3

@siemieniec @sareg0 @Karla-Isabel-Sandoval @lisbethmarianne @porras @carpodaster @soff22 @hagenburger @Powerglove @hoffl @bitboxer @remydagostino @joecorcoran @jessicarose @theaamanda @lilaluca @s-urbaniak

[2016-07-07 08:07] linberg commented on #226
I will bring Kartoffelsalat and some veggie spring rolls :)

[2016-07-07 08:45] alicetragedy commented on #207
closed via https://github.com/rails-girls-summer-of-code/summer-of-code/pull/225. thanks @Nattivolk!

[2016-07-07 08:45] #207 closed, assigned to nobody

[2016-07-07 08:48] soff22 commented on #226
According local weather forecast site, it shows occasional rainings for Berlin..., not sure, but anyway we should have a shelter. The place is even closer to the place where I`ll be staying :), so I will not be concerned about late evening party :)
See you tomorrow

[2016-07-07 12:42] yoshuawuyts commented on #226
I'll probs swing by; choice of munchies will be inspired by the local grocery store selection 🍡

[2016-07-07 12:42] ferbsx commented on #226
I'll try to be there with cake! 💃 🎉

[2016-07-07 13:14] ariaru commented on #226
Me +2 if we'll make it (I hope we will), in which case we will also bring some food :)

[2016-07-07 13:39] alicetragedy commented on #12
Since the upgrade to jekyll 3.0, permalinks are even more broken than they used to be (3.0 has removed the automatic trailing slash, meaning that all old links, with trailing slashes, are broken on the interwebz, see [this post](http://marcgg.com/blog/2016/03/14/github-pages-jekyll/)).
Because we never settled for a single permalink structure, we now have a problem, and I'm wondering how to best f

[2016-07-07 16:16] this-sandra commented on #226
Hello, I will try to be there and bring something vegan. :-)

[2016-07-08 07:59] lisbethmarianne commented on #226
1 or 2 friends might join me.

[2016-07-08 10:54] sarahkami commented on #226
I think about joining, and if so I bring something and maybe a +1
(isn't that a defined cryptic message^^)

[2016-07-08 11:09] alexhumphreys commented on #226
I'd like to join, I'll bring some bread and humus :)

[2016-07-08 14:13] BriocheBerlin commented on #226
I'll be there, too. Bringing @1000miles and +1.
Ah, and food of course. Something from the turkish market.

[2016-07-08 15:01] fidothe commented on #226
I'll be coming. Will try to bring some nice GF bread and things to put on it...

[2016-07-08 17:38] ariaru commented on #226
My sister who is visiting isn't feeling :100: , so we are bailing out :(
Have fun everyone!

[2016-08-04 10:42] anikalindtner commented on #226
thanks for the awesome time everyone! closing this now.

[2016-08-04 10:42] #226 closed, assigned to nobody

[2016-08-04 10:43] anikalindtner opened #252 "explain stars on sponsor's logos"
most sponsors don't know what the stars on their logos mean, so we should definitely explain that somewhere. maybe @anasofiapinho you could take care of that and add it to the donation site or somewhere? the stars indicate how often the sponsors have donated to rgsoc (so 3 stars means 3-year-sponsor)

[2016-08-06 21:28] anasofiapinho commented on #252
@anikalindtner I have created a PR and added a small phrase on top of the logos saying what the stars are about. I also noticed that if people place the mouse on top of each star, they will see the year that the company sponsored RGSoC. I am not sure if this looks very good, especially because of the spacing. If anyone else would like to take a look, please do!
@troubalex I know you are an UI expe

[2016-08-07 12:22] troubalex commented on #252
I only have two small nitpicks, which are partly a matter of taste.
1. I'd drop the star icon in front. It feels unnecessary, and looks a bit crammy.
2. I'd then move the sentence to the bottom, right below the last row of Bronze sponsors. The information is less important than the sponsors themselves, and will demand less attention down there. That is assuming that it's more of an "FYI" rather th

[2016-08-07 21:42] anasofiapinho commented on #252
Hey @troubalex,
Thanks for your feedback. I also agree with moving that phrase to the bottom. I was trying to see if it could be put on top so that there was a bigger chance that people would see it. But, yeah, it's best to have it on the bottom (I also removed the star), because it was creating some "visual conflict" with the logos, and the sponsors' logos are more important than that.

Thanks ag

[2016-08-09 00:25] anasofiapinho commented on #199
Making new changes on the press page here
https://github.com/rails-girls-summer-of-code/summer-of-code/pull/263

[2016-08-10 21:45] mkalininait opened #267 "Add conferences' logos to the website"
We would like to add logos of conferences which support us this year to the footer, like it was implemented in 2013: http://2013.railsgirlssummerofcode.org/

Logos of conferences 2016 are available here:
https://github.com/rails-girls-summer-of-code/summer-of-code/tree/gh-pages/img/blog/2016/conferences

NOTE:
- rubyconf-au-logo might change;
- goto-berlin-logo should not be announced yet.

[2016-08-11 09:31] alicetragedy commented on #220
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/234, closing this!

[2016-08-11 09:31] #220 closed, assigned to alicetragedy

[2016-08-12 10:09] alicetragedy commented on #252
Note: if you hover on the stars it actually shows which year the sponsor has sponsored (alt text) ;) Nevertheless I will merge @anasofiapinho's PR!

[2016-08-12 10:20] alicetragedy commented on #252
fixed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/259. Closing!

[2016-08-12 10:20] #252 closed, assigned to anasofiapinho

[2016-08-13 12:25] klappradla commented on #267
Taking a look at this now @mkalininait, but I got some tiny questions:

1) what should be shown?

means that I should skip this one for the footer?

2) stars?
I suppose the conferences don't get _stars_ in their logos (since I don't find information on when they've been part of RGSoC)?

3) sponsor page
Should the conferences also be listed on the [sponsors page](http://railsgirlssummerofcode.org/s

[2016-08-13 13:27] klappradla commented on #267
Another tiny question: the conferences don't get *stars* in their logos I suppose (it would not fit the space anyways) as there's no information on how often they've been part of RGSoC yet?

[2016-08-14 09:06] alicetragedy opened #272 "create new blog post template that doesn't require twitter handle"
Right now, the blog post template we use for all our blog posts requires a twitter handle in the front matter section; without it, it shows a weird comma after the author name. I've tried removing the comma in the current template (see `_layouts/post.html`) but it doesn't have an effect on how the author name is displayed, unfortunately.

The easiest (= laziest) way to solve this would be IMO to c

[2016-08-14 09:25] alicetragedy opened #273 "improve styling of single blog posts"
There are a couple of things that could be improved in the current blog:
- The margins of text above and under images are still not optimal in blog posts; it would be great to give the images a bit more breathing room (keeping in mind that images will usually have a description right underneath which needs to stay where it is).
- Some guest authors add a lot of inline styles to a post, which is ob

[2016-08-15 04:39] claucece commented on #175
Looks like the issue is due to the fact that 'overflow-x' is hidden on mobile. I think that option 2 is the best because it allows to be consistent with a mobile design. I can work on that.

[2016-08-15 04:41] claucece commented on #215
Weird behavior. Looks like it is due to the 'transform' property. But, when the screen is resized is gone. I'll dig in it further.

[2016-08-15 07:55] alicetragedy opened #276 "change font size of sidebar on single post view"
When viewing a single blog post, the size of the font in the sidebar is much bigger than the size when viewing all the posts. The font size was reduced in one of the latest changes to consolidate styling and sizes of text and headings across the website, but we forgot the single post view.

[2016-08-15 10:36] alicetragedy commented on #215
great, thank you @claucece! 👍

[2016-08-17 14:21] alicetragedy commented on #208
The PR is ready to go (https://github.com/rails-girls-summer-of-code/summer-of-code/pull/213). One thing I'd love to do would be to also have a section in there about contributing to the blog specifically, as we have very clear guidelines on that as well which are currently in the README, but I wanted to have people's opinions first:

**Should blog instructions be moved from the readme to the cont

[2016-08-17 19:26] #267 closed, assigned to klappradla

[2016-08-22 14:49] #208 closed, assigned to alicetragedy

[2016-08-22 15:10] alicetragedy opened #282 "General improvements to the mobile experience"
There are lots of small glitches on the website which hinder the mobile experience, and I'd like to collect all of them here so we have a better overview.
- [x] mobile-friendly image for Application Guide (issue https://github.com/rails-girls-summer-of-code/summer-of-code/issues/194)
- [x] ⚠️ big issue with the navigation (issue https://github.com/rails-girls-summer-of-code/summer-of-code/issues/1

[2016-08-24 12:55] alicetragedy commented on #175
hey @claucece, did you get a chance to look at this?

[2016-08-24 14:33] claucece commented on #175
Yes! I fixed the scrolling.. but while adding the home page to the menu I found another issue, seems like the size of the menu does not change accordingly. I can make a commit with the scrolling fixed and keep looking at the new issue.

[2016-08-25 12:08] alicetragedy commented on #175
hey @claucece, I'd love to have the scrolling fix pushed when you can — at least then the menu would be working halfway properly, until you get a fix in with the size of the menu changing. does that work for you? Would be awesome!

[2016-08-25 13:51] alicetragedy commented on #194
this is the image -> ![2016-soc-guide-mob](https://cloud.githubusercontent.com/assets/3143348/17971594/c193a8f6-6adb-11e6-9045-2ecf62ace4ce.png)

[2016-08-25 14:44] claucece commented on #175
Great! Not sure how to make the request.. should I follow this guide: https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/CONTRIBUTING.md?

[2016-08-25 14:47] alicetragedy commented on #175
@claucece yes, that's the way to do it — create a new feature branch, commit your changes to it, push to your fork, and then make a PR against `gh-pages`, which is the branch we "deploy" on. Let me know if you're having any trouble!

[2016-08-29 09:56] #199 closed, assigned to hola-soy-milk, alicetragedy, anasofiapinho

[2016-08-29 13:48] alicetragedy opened #289 "refactor the image credits styles in old blog posts"
In one of the [last contributions to the blog](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/288/files#diff-a96549d4a2a4c3e9ce19652830b23434R421), the inline styling we use for image credits/descriptions was moved [to its own class in a css file](https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/assets/stylesheets/blog.scss#L42). Since we'll be sticking

[2016-09-02 10:23] alicetragedy opened #290 "Add list of teams to website"
We'd love to have a list of the teams added to the website every year, similar to the list of organisers/coaches/mentors [here](http://railsgirlssummerofcode.org/about/team/).

We already have a JSON array, containing the objects we need, which can be grabbed from the teams app (see [here](https://teams.railsgirlssummerofcode.org/students.json)), this info now "just" needs to be formatted and outp

[2016-09-03 20:06] katrin-k commented on #194
Resolved using `<img srcset="…">`
This doesn't work on Android 4.x and Opera Mini, but is likely to be future-proof. Android 5x handles it.

[2016-09-03 20:46] katrin-k commented on #282
Re "lots of scrolling": hiding the sponsors on many pages seems resolved already. For those few, where the sponsors are still shown, I'd also leave them on mobile. Other lengthy content should probably wait for the complete overhaul.

[2016-09-04 10:31] katrin-k commented on #290
On which page should the students be displayed?
Looking at the menu, a new page `students/2016 teams` seems in order, doesn't it?

[2016-09-04 10:38] alicetragedy commented on #290
hey @katrin-k, the JSON will always return "current students", meaning it's enough to have a page `teams` or `our-teams`, as in, we don't need to necessarily give it a year in the path (of course, the page title can include the year).

Regarding its placement within the site structure, I think it might make more sense it place it under RGSoC in the menu (aka it would be `about/our-teams`) but I'm

[2016-09-04 12:23] katrin-k commented on #290
You're right, placed under `about` indeed makes more sense.

[2016-09-05 11:57] alicetragedy commented on #276
closed via https://github.com/rails-girls-summer-of-code/summer-of-code/pull/292. thank you @katrin-k!

[2016-09-05 11:57] #276 closed, assigned to katrin-k

[2016-09-05 12:43] alicetragedy commented on #174
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/206. closing!

[2016-09-05 12:43] #174 closed, assigned to alicetragedy

[2016-09-07 10:10] alicetragedy opened #294 "fix typos in Code of Conduct"
Noticed a couple of typos in the CoC, so we might want to fix those when possible. :)

[2016-09-08 10:09] #294 closed, assigned to nobody

[2016-09-15 12:32] alicetragedy commented on #194
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/291 — thank you @katrin-k! <3

[2016-09-15 12:32] #194 closed, assigned to nobody

[2016-09-15 12:34] alicetragedy commented on #282
Most items have been done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/291, now we're just waiting for the menu issue to be fixed. Hooray! 🎉

[2016-09-20 19:58] carpodaster commented on #272
@alicetragedy I've just checked [the layout file](https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/_layouts/post.html#L12-L16): a twitter handle isn't mandatory, you can omit the twitter line in the frontmatter section.

[2016-09-20 20:01] alicetragedy commented on #272
@carpodaster any suggestions on removing the strange floating comma if a twitter handle isn't added? That's actually the main problem there, it doesn't break Jekyll or anything — just adds this random comma and I was unable to get rid of it somehow.

[2016-09-20 20:10] alicetragedy commented on #272
A picture is worth a thousand words ;)

![twitter-comma](https://cloud.githubusercontent.com/assets/3143348/18687113/edf911f8-7f7e-11e6-8bd9-c0f8cb459038.jpg)

[2016-09-20 20:28] carpodaster commented on #272
@alicetragedy I think it's fixed now

[2016-09-21 08:08] alicetragedy commented on #272
@carpodaster nope it's not :(
As I already wrote in the original issue/comment, I'd tried doing that (removing the comma in the template) but it was hopeless. I don't know why removing the comma there doesn't work, but it still leaves us with a ghost comma 😱 👻  hence my suggestion to create a new template (The Lazy Way™️).
If anyone has any other suggestions though... Shoot away!

[2016-09-21 09:16] carpodaster commented on #272
Oh, apologies – I didn't pay 100% attention to the initial issue comment. And stupid me: I did remove the comma from the layout file again yesterday, re-loaded the blog page and thought: oh look, no comma. Without realizing that the blog post I was looking at still had a twitter handle configured of course. /headdesk 🙃

I've checked it locally w/o twitter handle and it does seem to work:

![bildsc

[2016-09-21 09:22] alicetragedy commented on #272
you're right @carpodaster — I was looking at the index, where the metadata still shows with a comma. on a single post however, it looks like in your screenshot. My fault!
Now to see if there's a way to remove the comma in the main (= index) layout, and we're good to go! Sorry about the misunderstanding here.

[2016-09-21 09:28] alicetragedy commented on #272
@carpodaster okay, fixed the above in 20d374de529c811682919b570be30489b699f454. I think we can close this now, thank you @carpodaster 🎉

[2016-09-21 09:31] carpodaster commented on #272
A tricky: two commas!

[2016-09-21 09:33] alicetragedy commented on #272
![image](https://cloud.githubusercontent.com/assets/3143348/18705592/242951be-7fef-11e6-806b-33cc894daed8.png)

[2016-09-21 09:34] #272 closed, assigned to nobody

[2016-09-21 09:40] carpodaster commented on #272
Team Joda would approve of this conversation ;)

[2016-09-26 11:32] #290 closed, assigned to katrin-k

[2016-09-26 12:30] alicetragedy opened #301 "Teams/Students page improvements"
We finally have an overview of [current teams](http://railsgirlssummerofcode.org/about/students/) thanks to @katrin-k <3

There's some improvements that could still be made, namely:
- sort teams by team name (some JavaScript knowledge will be needed)
- show several teams on one "row", depending on how much space is available on the display (this is a purely aesthetic improvement and needs a bit of

[2016-09-28 10:05] alicetragedy commented on #175
hey @claucece, would you still have time to look over and fix this issue over the next week? Please let me know by Friday (September 30th, 12:00 UTC) if not, so that I can hand this over to someone else to look at.

[2016-09-30 05:03] nbogis commented on #301
I would like to work on these enhancements

[2016-10-06 08:46] alicetragedy commented on #301
Sounds good @nbogis! I'll assign you to this issue, and I would be very happy to answer any of your questions on things that are still unclear. Do you need anything from me, like clarifications, to get started?
For this, you will need to run jekyll locally on your computer — set up infos are in the [contributing](https://github.com/rails-girls-summer-of-code/summer-of-code/blob/gh-pages/CONTRIBUTI

[2016-10-07 23:48] mkalininait commented on #215
Can't reproduce anymore. Should we close it?

[2016-10-09 10:40] #215 closed, assigned to nobody

[2016-10-09 21:32] mkalininait commented on #175
Can we close this issue @alicetragedy ?

[2016-10-10 09:34] alicetragedy commented on #175
fixed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/313

[2016-10-10 09:34] #175 closed, assigned to mkalininait

[2016-10-10 13:24] alicetragedy commented on #282
All done. closing!!! 🎈 🎊 🎉 ✨

[2016-10-10 13:24] #282 closed, assigned to nobody

[2016-11-07 15:03] alicetragedy opened #331 "Improve our Code of Conduct"
Even though our Code of Conduct is pretty good, I think it would be a good idea to review it and consider making changes and additions. Especially, I think we could give some examples of "unacceptable behaviour" and of micro-aggressions (because those are usually the more difficult to pinpoint). I recently came across the [18F Code of Conduct](https://github.com/18F/code-of-conduct/blob/master/cod

[2016-11-14 16:56] katrin-k commented on #331
The [Berlin Code of Conduct](http://berlincodeofconduct.org/) is also a good source. It goes beyond many typical phrases, too.

[2016-11-17 08:56] alicetragedy opened #335 "update basic info on website for 2017"
We're starting to get contacted about the next edition of RGSoC already 😱
It would be great to update the website with information for 2017. This means:
* the date on the landing page (Jul–Sep 2017)
* the timeline (please ping me if you need exact info on this)

In the future, we might want to consider having a cleaner transition by removing some of the links to guides until we've updated them for

[2016-11-17 09:02] alicetragedy commented on #331
@katrin-k thanks for that, it's another great CoC we can get inspired by. @Nattivolk will be working on this issue and I'm sure this is helpful!

[2016-11-20 16:10] linberg commented on #335
I included the years on the timeline section for clarity, but it throws off the alignment on certain screen sizes. If you prefer to leave the year out, let me know and I'll send a fresh PR 👯

[2016-11-21 11:01] alicetragedy commented on #335
closed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/336 by @linberg ✨

[2016-11-21 11:01] #335 closed, assigned to linberg

[2016-11-23 11:31] 1000miles commented on #331
Hey there, thanks for raising up this issue.

[co.up](http://co-up.de/code-of-conduct.html) has also a very well-thought code of conduct (that derived partly from the berlin code of conduct).

I like especially this here:
[code]

and these parts:
[code]

If that helps for inspiration, I started a collection here:
https://github.com/1000miles/coc-collections

[2016-12-12 12:03] #301 closed, assigned to nbogis

[2017-01-05 15:46] alicetragedy opened #348 "change our public email address on the site"
In order to slowly move away from the Rails Girls brand, which is confusing for a lot of people, we are changing our public email address from `summer-of-code@railsgirls.com` to `contact@rgsoc.org`. The first step would be to change all instances of our “old” email address on the site with the new one, so that all future emails go to `contact@rgsoc.org`.

Feel free to tackle this issue if you want

[2017-01-09 10:59] alicetragedy opened #350 "Review and update the coaches guide for 2017"
Based on feedback from coaches which we received last year.

[2017-01-09 11:26] mkalininait commented on #350
Some problems reported by the coaches of 2016:
 * [ ] I was not sure what my role as a coach would be / what were the deliverables at the end of the program
 * [ ] Wasn't sure how the program would be executed within a specific project
 * [x] Not clear how many coaches are actually necessary
 * [ ] What is the role of a remote coach that is not coaching on a day-to-day basis, but instead for proje

[2017-01-11 11:46] #348 closed, assigned to carpodaster

[2017-01-11 14:53] alicetragedy opened #351 "Update header image for 2017 on campaign and sponsor packages page"
The header image currently showing on the [campaign page](http://railsgirlssummerofcode.org/campaign/) and the [sponsor packages page](http://railsgirlssummerofcode.org/sponsors/packages/) is outdated and should be updated with 2017 dates.

[2017-01-13 14:08] #351 closed, assigned to alicetragedy

[2017-01-15 23:58] mkalininait commented on #350
One more thing: how to confirm your coach status in a team. Was asked 1000 times last year.

[2017-01-16 08:15] carpodaster commented on #350
When a coach is added to a team, they (should) get an email containing a link. Behind that link is a confirmation button

[2017-01-16 09:25] mkalininait commented on #350
@carpodaster Yes, I actually made that note not to forget to include this in the Guide :)
Sometimes coaches don't get the email (there is no public email in their Github profile or their email address is outdated, or the email gets into spam, or whatever), and then they need to go to the team's page and press the confirmation button manually. This was not obvious to the coaches last year.

[2017-01-19 14:36] alicetragedy commented on #350
I think there are three types of information we need to provide coaches (and other participants) with:
- information about applying/basic info about the program (found in guides on the website)
- information about using the teams app/troubleshooting (teams app help page)
- more detailed information about roles, handling communication problems, etc.. (separate guide provided to coaches of selected

[2017-01-19 17:03] mkalininait commented on #350
@alicetragedy I agree with everything.
Does this ticket cover only the basic guide on the website?
If so, there are very few changes to be made. Many feedback issues will be covered by the onboarding guide. Btw, it seems so strange that we didn't have it before :D

[2017-01-20 12:06] alicetragedy commented on #350
@mkalininait I feel the same way — an onboarding guide is definitely something we've always needed..
Yes, the original ticket covered the changes on the website only (as it's in our website repo). I will create a separate issue in `organization` for the onboarding guide, so I'd suggest to stick in here to the changes that we need to make on the coaches guide page on our website. thank you! 👍

[2017-01-26 13:29] #350 closed, assigned to mkalininait

[2017-01-31 15:26] alicetragedy commented on #331
thanks for the comment and suggestions @1000miles 🙌

[2017-02-16 13:49] alicetragedy opened #359 "Clean up img folder"
Our `img` folder is starting to get a little messy — most of the images under `/blog` are under control, but the rest is a bit all over the place, named at random, and generally it's difficult to have an overview of where to find the images needed e.g. all assets for the landing page, like the star icon or the header image, could go into a `landing-page` folder.
We don't currently have a system, a

[2017-03-30 13:22] alicetragedy opened #368 "Add info about other partners on the site"
There are a number of companies that support us with free plans for Open Source projects, non-profits, or just because they're awesome such as Slack, GH, Helpscout, and more recently Sentry.
We don't yet share this info anywhere, but it would be great to manage and have this in there somehow. In-kind sponsorship is not always extremely useful, but I think in those particular cases these products a

[2017-04-03 14:50] alicetragedy commented on #223
I'd like to reopen this discussion — I get it that it's “more work” to do this, but I think @igorwwwwwwwwwwwwwwwwwwww had a very good point here. Making places diverse and inclusive will always be more work, but I think given the type of program we are, we should give this a chance. The biggest challenge I see is in creating location maps as we've been doing in the past — @anikalindtner has been u

[2017-04-11 10:52] carpodaster opened #370 "/campain shows Donate Now CTA below the fold"
Upon loading the page, all you see is the big header image along with a date. I feel like we should bring the more relevant info to the 🔝

[2017-05-08 15:04] #331 closed, assigned to nobody

[2017-05-31 22:17] acnagy commented on #273
🙋 I can take this one! I'm getting started with the codebases, so per some chatter with @alicetragedy, it seems like a good place to start. Plus, yay for more ❤️s to the blog.

Of course, if anyone has additional requests/suggestions since August last year, please do drop them in here

[2017-05-31 22:28] acnagy commented on #368
🙋 I'd also like to tackle this one - and happy to talk to companies as needed.

@alicetragedy do we have a list of who's giving in kind-sponsorships and/or how we want to display/acknowledge them? I get the sense there may be some planning involved here - or, if that's already been done, is there somewhere I can look?

[2017-06-01 14:12] alicetragedy commented on #273
Awesome, I think the first point is definitely the most important, it would make a huge difference right away. Thank you! ✨

[2017-06-01 14:23] alicetragedy commented on #368
Great that you want to help here! You can find a list of who's giving in-kind sponsorship [in the orga wiki](https://github.com/rails-girls-summer-of-code/organization/wiki/General:-Services-and-Platforms) (note: Sentry is still missing).
We haven't planned this at all yet, so we can discuss it together if you'd like; I haven't given any thought as to where this partner info should go; maybe it co

[2017-06-12 06:56] alicetragedy opened #373 "update website for start of summer"
Since the applications, campaign, etc... are behind us, we should update the website accordingly. Here are some things that need changing:

- [x] Application Guide: add info about teams being chosen, applications being closed, etc..
- Application Guide: remove most guidelines, add new general ones?
- [x] Campaign page: remove info about becoming a partner
- [x] Campaign page: clean up and make it

[2017-06-19 14:44] alicetragedy commented on #373
working on this 👍

[2017-06-20 10:36] #373 closed, assigned to alicetragedy

[2017-07-25 07:47] kajatiger opened #389 "fix gem dependencies"
After running `gem install bundler` it got messy. First the Ruby version was wrong and a lower one had to be installed, then nokogiri couldn't be properly installed by the bundler. I had to install xcode select and then install the right nokogirir version manually. And then the jeykyll had to be installed manually as well and it didn't start the server without running `bundle exec`.

[2017-07-27 11:14] alicetragedy commented on #389
hey @kajatiger, thanks for opening this issue. This is very helpful information, we'll look into it!

[2017-08-15 09:48] frefell commented on #289
is this still relevant? If yes, could you provide a little more context or which posts this would apply to? I'm just beginning but would like to help :)

[2017-08-15 10:47] v-thakkar commented on #289
Hi @frefell . Thanks for your interest. This is still relevant. The issue here is we have old posts which are not using image-credits style. You can check 2015 and 2014 posts. And for example you can check 2017 posts which are using image-credit style. I think you can start with picking the file -> 2015-10-30-cocoagems-get-strange-at-strangeloop.md.

[2017-08-15 11:43] frefell commented on #289
Thanks for clarifying. I will start with 2015 then :)

[2017-08-29 09:14] alicetragedy opened #405 "update roles page"
The roles page is quite outdated, so it would need a nice update.
Here are the things that need changing:
- we haven't had speaker coaches for a few years, so I'd suggest to just remove the paragraph
-  replace the role “Mentor” with “Mentor / Project maintainer” in all the headings so that it's more clear
- add more examples to mentor role, e.g. that they review pull requests and help students wi

[2017-08-29 09:18] alicetragedy commented on #359
I've just marked this as `beginner-friendly`, because I think someone unfamiliar with the codebase or the program's structure can still help. If you're interested, just ping me or leave comments with suggestions on how to structure the folder.
Contributions by first-time contributors are particularly welcome ❤️

[2017-08-29 11:31] mercykinoti commented on #359
anyone?

On 29 August 2017 at 12:18, Laura <notifications@github.com> wrote:

--
Mercy Kinoti
Email: mkinoti69@gmail.com
Skype: m.kinoti69

[2017-08-29 12:10] alicetragedy commented on #359
@mercykinoti are you interested in working on this issue?

[2017-09-18 19:30] Benjaminpjacobs commented on #405
Hi! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-09-18 19:49] alicetragedy commented on #405
Hi @Benjaminpjacobs, it's so cool that you want to help! You're right, no one is assigned to it yet, so it's up for grabs. We'd love to have you help out with this issue!
I've already outlined some straightforward "first steps" you can help with. Some of the other points might be more difficult to tackle if you don't know how RGSoC works, but I can be of help there, just ping me whenever you need

[2017-09-18 19:52] Benjaminpjacobs commented on #405
@alicetragedy, that sounds great. I'll get started on what is there and will absolutely reach out with questions as they arise. Thank you!

[2017-09-18 20:32] iamchrissmith commented on #211
Hi @alicetragedy ! I wanted to make a contribution to this project and I was hoping to help with this issue. It looks like it hasn't been started yet, but if it has been, I'm happy to grab a different issue.  Thanks!

[2017-09-18 20:33] Benjaminpjacobs commented on #405
@alicetragedy I've submitted a pr addressing the basic aspects of those issue but I'm more than open to any feedback or if you need anything else based on those changes. Just let me know! I'm happy to help where I can.

[2017-09-18 20:43] alicetragedy commented on #211
Hey @iamchrissmith, it's great to hear you wish to contribute to our project ✨ the issue is still up for grabs, so go ahead! I think I have outlined the basic idea for this enhancement, but if there's anything you're not sure about, feel free to ping me, I'm always happy to help.

[2017-09-18 20:47] iamchrissmith commented on #211
@alicetragedy as an initial implementation, I was planning on including a list of the categories with links to their section on the `blog/categoryview/` page rather than making a whole new individual category page.  For instance: A post with the category student-post would link to `blog/categoryview/#student-posts`

Do you think that makes sense?

[2017-09-18 20:49] alicetragedy commented on #211
That makes sense to me @iamchrissmith, it's a good approach 👍

[2017-09-19 14:57] Benjaminpjacobs commented on #405
@alicetragedy thank you for your feedback! I've updated the PR based on your comments. Please let me know if there is anything else you need on this one.

[2017-09-19 16:57] MrAaronOlsen commented on #389
@alicetragedy I can confirm that Ruby 2.4.2 works. I also removed versions from jekyll and github-pages to let them update to the latest, and so far everything seems to load fine. It looks like the last time jekyll was updated was about a year ago. Jekyll is at 3.5.2 and github pages are at 161. I'm not sure if it's worth testing through to make sure everything else still works fine with updated g

[2017-09-19 17:12] alicetragedy commented on #405
Closed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/419 🎉

[2017-09-19 17:13] #405 closed, assigned to nobody

[2017-09-22 18:57] carpodaster commented on #223
I don't know if this relevant (and I haven't tried the python script mentioned in the accepted answer), but I found this: https://help.openstreetmap.org/questions/17935/view-osm-as-gall-peters-projection

Good side-effect: I'm not sure if it's ok to screenshot a Google map selection and re-use it elsewhere. Afaik, OSM's licensing allows that.

[2017-09-23 09:24] alicetragedy commented on #223
wow, super cool @carpodaster — I was just thinking of this issue the other day and wondering whether we should look into this a bit or close the issue for the moment.
I'll keep this open; maybe some contributors are interested in looking into it!

[2017-10-06 18:18] alicetragedy commented on #368
Hi @acnagy, are you still interested in doing this? It's not extremely urgent, so if you are but don't think you can tackle it in the near future, I'd move it to the backlog. Let me know!

[2017-10-27 03:09] acnagy commented on #368
Ahh... this got away from me! I am interested, but, uh... yeah, backlog
seems fair to me as well 😅

On Fri, Oct 6, 2017 at 2:18 PM, Laura <notifications@github.com> wrote:

[2017-10-31 09:19] mkalininait commented on #289
Fixed blog posts of 2017 (https://github.com/rails-girls-summer-of-code/summer-of-code/commit/273a9c56e95debf2f5d14e7e266d37e5f732012f)

[2017-10-31 09:38] alicetragedy commented on #289
thank you @mkalininait ! \o/

[2017-11-06 17:25] chantal66 commented on #359
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-11-06 17:59] alicetragedy commented on #359
@chantal66 I saw a notification about you being interested in this issue. It's still not taken, so if you want to work on this, I'd be happy to help get you started!

[2017-11-06 20:23] chantal66 commented on #359
Hi @alicetragedy, I would love to contribute. I’m a first-time contributor and was hoping to help out with this issue. Do you have any guidelines on how the images folder should be?

[2017-11-06 20:43] alicetragedy commented on #359
hey @chantal66, that's great, we are always happy about first-time contributors ❤️
I currently don't have any guidelines on how the images folder should be. Suggestions are more than welcome, but if you don't have any, or if you'd prefer having a bit more guidance, we could bounce some ideas back and forth? What do you think? I like the idea of separating by context, e.g. we have a separate folder

[2017-11-06 20:49] chantal66 commented on #359
yes.. I was just checking the 'loose' images and see where they could belong.. also sponsors folder could use some sub-directories and grouped them by platinum, gold, silver, etc like you have them on the website.. so it's easier to find when in need... is this the kind of structure u would like to have?

[2017-11-06 20:50] alicetragedy commented on #359
yes, that sounds great @chantal66! 🙌
please let me know if you need any more input, but otherwise I'd say that you go ahead and get started with those.

[2017-11-06 21:31] chantal66 commented on #359
I think i'm good. I'll start right away.. thank you! 😄

[2017-11-07 21:20] MasonHolland commented on #289
@alicetragedy are the only pieces remaining on this the 2016 posts?

[2017-11-10 21:59] alicetragedy commented on #289
@MasonHolland yes, I think so! I'd probably have to double-check to make sure that nothing else is missing, but please don't let that stop you from contributing :) If you're interested in cleaning up the 2016, go ahead — in the meanwhile I'll take a look at what we have so far and if there's any older posts we might have missed.

[2017-11-21 09:54] v-thakkar opened #439 "Add projects on the website"
We have been asked many times by prospective applicants and project mentors about the projects which have participated in the past. As of now, we don't really have any such information on the website. Adding a separate section for the projects will help in 2 ways:

- It will give an idea to prospective applicants, sponsors and project mentors about what kind of projects have participated in the pa

[2017-11-28 18:06] alicetragedy opened #441 "Small site updates to wrap up 2017"
- [x] update timeline (PR in [here](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/442))
- [x] update campaign page: remove overview of teams sponsored, change copy accordingly
- [x] update blurbs at the start of all guides
- [x] remove diversity tickets donations from list of donations
- [x] archive donations (see [internal documentation](https://github.com/rails-girls-summer-o

[2017-12-04 14:26] alicetragedy commented on #441
@inescoelho I know you're eager to help, and this is all time-sensitive — maybe you'd be up for helping with these tasks? It's mainly about trying to wrap-up 2017 so we can officially kick off 2018. The donation archiving will require access for you to heroku and to the campaign app I mentioned in the call, I can give you access to those when/if you need them.

[2017-12-07 10:28] inescoelho commented on #439
IMO, we don't need a project page. We need a page with information about each edition of RGSOC, including the projects that were selected/participating each year. That way we convey the message you wabt to portrait without focusing so much on the projects, which is not the goal of RGSoC.

[2017-12-07 11:01] v-thakkar commented on #439
I agree with your approach @inescoelho. When I opened the issue, I just wanted to add this before we open the call for projects as lot of projects need to look at which projects have participated in the past [program name issue again]. But now that re-branding work is going in parallel and in no way this seems to be implemented before that, my vote definitely goes for adding information for each R

[2017-12-12 13:55] inescoelho commented on #441
Thanks for the suggestion, Laura! I might have time for this at the end of the week! Count with me, if no one else picks this up before that ;)

[2017-12-18 10:55] alicetragedy commented on #441
Let me know if you are still interested in this @inescoelho and if you would have time :) The guides are slowly taken care of already since I'm updating some of the copy right now, but the rest will still need doing at some point ;)

[2017-12-18 19:02] alicetragedy opened #447 "implement new copy"
The new copy will be done and implemented in two batches, one before and one after the “Winter break”.

### Batch 1
- [x] project mentor guide
- [x] coach guide
- [x] coaching company guide
- [x] supervisor guide
- [x] roles page
- [x] Code of Conduct
- [x] about page
- [x] landing page

### Batch 2
- [x] student application guide
- [x] campaign page
- [x] sponsorship guidelines
- [x] sponsorship

[2017-12-18 19:23] alicetragedy commented on #447
pr for most of the first batch of copy changes can be found here: https://github.com/rails-girls-summer-of-code/summer-of-code/pull/449

[2018-01-09 11:13] Paarmita commented on #359
Hi @alicetragedy,.Is this issue still open? Can i contribute?

[2018-01-11 14:14] alicetragedy commented on #359
hey @Paarmita, yes, this issue is still open. @chantal66 did a bit of work on it, and cleaned up the folder quite a bit, but I think we could still improve on it. All the comments I left in this issue are still valid, so you can read through the thread and let me know if you have any questions? Does that work for you? Let me know if you'd like more help at any point, or if anything is confusing! W

[2018-01-11 14:29] Paarmita commented on #359
@alicetragedy I have read the threads and can work on it.

[2018-01-11 14:30] alicetragedy commented on #359
that's great @Paarmita! Just ping me if you need anything.

[2018-01-11 14:31] Paarmita commented on #359
@alicetragedy I am working on sponsers folder. So i just have to remove unused icons?

[2018-01-11 14:40] alicetragedy commented on #359
@Paarmita yes, you can remove unused images, if there are any. (I think there are a lot of images in there from sponsors of past years, which I think can be removed).

[2018-01-11 16:21] Paarmita commented on #273
@alicetragedy can I work on this issue? I need some help on how to proceed :)

[2018-01-15 15:51] alicetragedy opened #461 "Make progress graphic on the campaign page accessible"
As pointed out by @thegrumpygirl while reworking the copy for the [campaign page](https://railsgirlssummerofcode.org/campaign/), the graphic we use to show campaign progress is not accessible at all (there is no alt text). This makes it impossible for visually impaired people to have an idea of how many teams have been funded.
It would be great to make changes towards something more accessible for

[2018-01-19 15:09] alicetragedy opened #463 "move sponsorship package information on packages page into tiers"
A suggestion that came out of the copy rework for the sponsorship packages page (`sponsors/packages/`) was to move the information about the package perks into the visual package “boxes”, similar to how SaaS companies handle subscription tiers. Examples can be found [here](https://walls.io/features-and-pricing) and [here](https://github.com/pricing).

I think this would be a good way to have the i

[2018-01-25 17:15] alicetragedy commented on #8
@carpodaster should I remove you as an assignee from this and have it “up for grabs”?

[2018-01-25 17:18] alicetragedy commented on #184
This is being tackled as part of our website restructuring. \o/

[2018-01-25 17:19] alicetragedy commented on #190
Not sure if this is realistic, but I'd love to have the campaign page look a bit better on mobile.

[2018-01-25 17:22] alicetragedy commented on #180
I'm going to leave this as part of our redesign/restructuring which will happen over the course of the next months. @troubalex, is this something you'd still potentially be interested in helping with? I can give more detailed information about the plan for after the summer (yes, there is actually, finally, a real plan).

[2018-01-25 17:23] alicetragedy commented on #273
@acnagy do you still have time to work on this, or are you too busy? Can we reassign it to someone else? ✨

[2018-01-25 17:29] alicetragedy commented on #368
@acnagy just an update, I've moved this to the backlog and added it to the milestone “kick-off 2018”, with the idea that it would be cool to have this up by the time Summer of Code kicks off this year!

[2018-01-25 17:30] alicetragedy commented on #184
since it's sort of a duplicate issue of https://github.com/rails-girls-summer-of-code/summer-of-code/issues/447 I'm going to close this.

[2018-01-25 17:30] #184 closed, assigned to alicetragedy, thegrumpyenby

[2018-01-25 17:43] alicetragedy commented on #389
Hi @MrAaronOlsen I realise now that I never got back to you on this. Is this something you're interested in helping with? It would be much appreciated!
A few answers to your questions/comments:
- I agree that updating the readme to include information about rvm (or rbenv) and the note about bundler makes sense.
- versioning Ruby is definitely a good idea, particularly with so many different people

[2018-01-25 17:46] alicetragedy commented on #370
@anasofiapinho @thegrumpygirl what do you think about this? Would love to have some thoughts on whether you think it's something we should change (and if so, whether for this campaign or when we do the restructuring).

[2018-01-25 18:46] troubalex commented on #180
It really depends on when, but generally speaking, I'm in. Can you share some details about what is planned?

[2018-01-25 19:21] carpodaster commented on #8
@alicetragedy oh sorry, totally missed that I am still assigned to this.

![](https://fat.gfycat.com/OptimalThoseFoal.gif)

[2018-01-26 08:29] alicetragedy commented on #8
@carpodaster to be fair you _did_ want to close this issue and I did write “I'm planning to take care of this” so yeah, it's on me 🙄

[2018-01-26 08:48] alicetragedy commented on #289
@MasonHolland just wondering — are you interested in working on this issue? Is there anything I can do to help?

[2018-01-26 12:00] thegrumpyenby commented on #370
I’m always pro CTA in headers. Something like “donate now”. This is something we’d tackle anyway in the restructuring but you’ll be running a whole campaign cycle before the restructuring will even happen, so I’d go for a CTA.

For now, I’d suggest something like this for the header image:

with donate now being a button that takes you to… idk where do you take donations?

[2018-01-26 13:54] alicetragedy commented on #180
@troubalex we are currently doing some minor copy changes to get ready for the 2018 edition. After that, in parallel with the preparations for the 2018 edition (so spring 2018), we'll be working with someone on rebranding and developing the tone of voice. Based on that, we'll also rename our program. (note: this rebranding work will only be “conceptual” i.e. we will not develop the brand visually

[2018-01-26 16:05] alicetragedy commented on #447
most of the changes from the second batch can be found in [this PR](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/465).

[2018-01-26 16:07] alicetragedy opened #466 "markdown or html?"
On the site, we use at times `.md` and at times `.html` files for our static pages. It would be good to make it consistent and decide on using either html or markdown, at least for the basic pages (and maybe regardless of what we use for the blog). Thoughts?

[2018-02-01 21:33] inescoelho commented on #8
Since Laura brought this discussion up from the deeps of our issues list, I would like to add my 2 cents.

As much as I like to have all the images on the repo, I feel that the RGSoC repo has become too huge to handle. Maybe we should bring the external storage discussion back into the table. But we don't need to go as far as using Dropbox or gDocs -> how about a GitHub repo only for images?

If w

[2018-02-01 22:08] carpodaster commented on #8
@inescoelho I'm very much in favour of a solution that involves an external storage. S3 comes to mind. The question is: how do we get it there easily? When students add images to their blog articles, how are they currently doing it? Do they add the actual image file to their PR or to they reference the image using a full URL?

[2018-02-01 23:13] inescoelho commented on #8
@carpodaster they usually upload the image file in the PR and refer it by it relative URL

[2018-02-02 02:21] inescoelho opened #470 "Conference List"
Cleaning up the website for 2018, I realized that, although we keep a list of the conferences every year, the majority of the information about the conference is hard-coded in the conferences page and lost with the cleaning. We could reformulate this to be more similar to the sponsor's page where instead of using a MD file we use HTML and the information is read from the data file using Rails.

[2018-02-02 02:49] inescoelho commented on #441
@alicetragedy, I've just submitted a PR with most of the changes -> #471

However, I've encountered some problems with the archiving of the donations. I will reach you out on slack, as it is urgent to fix this.

Besides the list of conferences, this PR also updates references for the 2017 campaign (such as in the blog's sidebar). I also took the liberty to clean the list of sponsors from the websi

[2018-02-05 14:14] acnagy commented on #273
@alicetragedy ah, thanks for the ping! I'm definitely a bit busy right now - if you, @Paarmita want to jump in, please do! If there's anything I can do to help/review/brainstorm, definitely let me know 👍

[2018-02-05 14:23] Paarmita commented on #273
@acnagy Yeah, i can work on it. I want some help on how to start.

[2018-02-05 14:36] alicetragedy opened #474 "Add missing organisers to team page"
@acnagy and @inescoelho are missing as organisers from the [Team](https://railsgirlssummerofcode.org/about/team/) page. :)

[2018-02-09 14:01] meets2tarun opened #477 "Correction of markdown"
There is a link on the website https://railsgirlssummerofcode.org/blog/2018-02-01-applications-are-open where there exist a markdown fault in the first paragraph.

[2018-02-09 14:10] #477 closed, assigned to nobody

[2018-02-14 12:44] alicetragedy commented on #441
Closing this issue as it's been fixed over the last couple of weeks. :) Thank you @inescoelho for making this happen!

[2018-02-14 12:44] #441 closed, assigned to alicetragedy, inescoelho

[2018-02-22 13:55] alicetragedy opened #481 "Add new sponsors/partners to site"
This is a placeholder issue to keep track of the sponsors who still need to be added to the website (i.e. they've expressed interested or bought a package but we're still waiting for logo/blurb)

- [x] Fedora Project
- [x] Thoughtworks
- [x] GitLab
- [x] Bendyworks
- [x] Runtastic
- [x] RubyMotion
- [x] Basecamp
- [x] Wooga
- [x] Cobot
- [x] Articulate
- [x] Contenful
- [x] Honeybadger
- [x] NextC

[2018-02-26 19:20] wiseemily88 commented on #273
@alicetragedy-  Hi! I’m a first-time contributor and was hoping to help out with this issue & I noticed in the comments that @Paarmita and @acnagy are working on it. I'd love to help, and wanted to check in on the current status for this issue. Is there currently a solution in progress?

[2018-02-26 19:41] wiseemily88 commented on #289
@alicetragedy- Hi! I’m a first-time contributor and was hoping to help out with this issue & I noticed in the comments that @MasonHolland is working on it. I'd love to help, and wanted to check in on the current status for this issue. Is there currently a solution in progress?

[2018-02-26 22:10] wiseemily88 commented on #389
Hi there!  @alicetragedy I’m a first-time contributor and was hoping to help out with this issue. I noticed that a PR has not been submitted for this issue. Submitting a PR with a potential fix. Thanks!

[2018-03-01 16:06] alicetragedy commented on #289
hej @wiseemily88 — thank you so much for your interest in helping out 💖I haven't heard anything back from @MasonHolland so my suggestion would be that you just go ahead and pick up this issue, if you want to work on it.
I believe the 2016 posts are the only ones left; let me know if you need any guidelines on getting started or if you get stuck or need clarifications on the task — I'm always happy

[2018-03-05 02:52] acnagy commented on #273
Hey @Paarmita @wiseemily88! Thank you so much for the enthusiasm, so sorry for the delay here. I don't think we have a concrete design, other than iterating on the blog post styling we have (cc: @alicetragedy - lemme know if that's incorrect). With that in mind, here's what I planned, but sadly have not implemented:
- [ ]  Start with the whitespace issue - that probably means things link larger li

[2018-03-07 11:33] alicetragedy commented on #389
Hi @wiseemily88 — thank you so much for contributing and submitting your PR, and congratulations on your first contribution to our `summer-of-code` repo  🎉 🙌
I've assigned the PR to myself and will be looking at it very soon. Sorry for the delay!

[2018-03-07 14:53] alicetragedy commented on #273
Sorry for the delay in getting back to you, @Paarmita @wiseemily88 — I second what @acnagy said, I think those are good pointers to get started! For now I would stick to the text size and not make any changes, but rather try to experiment with margin and padding sizes. Maybe you'd like to pair together on this or split the work? Please don't hesitate to ping us if you have any questions, and thank

[2018-03-07 16:24] Paarmita commented on #273
@alicetragedy @acnagy I could start with white space issue :)
So do I have to change the RGSoC 2018's Applications section and then further that in the blog post?

[2018-03-12 09:57] alicetragedy commented on #447
Update: all that's left here is to implement a new, better-looking timeline. Since it's not just a matter of adding and changing text, but it involves thinking about how to best display it visually, I'd suggest to close this issue in favour of a new one specific to the visual timeline.

[2018-03-19 13:25] bexelbie commented on #481
@alicetragedy Can you help me answer the question from our designer in https://pagure.io/design/issue/585 ? Specifically, they need to know if you want a white background or transparent image.  Also, can you share where the image will appear?

[2018-03-19 14:01] alicetragedy commented on #481
Hi @bexelbie — sure thing! Sponsors will appear both on the [sponsors page](https://railsgirlssummerofcode.org/sponsors/) and in our footer (see [our main page](https://railsgirlssummerofcode.org/) for an example). In both cases, they'll appear on a white background.
The transparent-background logo they've shared actually looks great, so if they are happy with that one, I am, too!

[2018-03-20 14:09] bexelbie commented on #481
@alicetragedy The transparent one is good to go :)  Would you like me to do anything special to get it to you?

[2018-03-21 16:37] alicetragedy commented on #481
@bexelbie no, it looks like I can just download it (I just tried and it worked). I'll add this to the website very soon — will still need a text blurb whenever you can. please let me know if I help out with that somehow!

[2018-03-21 17:37] bexelbie commented on #481
@alicetragedy you did it by reminding me here.  Is this ok?

If you need me to mail it to somewhere special, let me know.

[2018-03-22 14:34] alicetragedy commented on #481
@bexelbie ah! awesome. I'd taken part of this text as a placeholder from your site while waiting for the Real Thing™. I'll add this shortly to the site 🎉

[2018-05-07 14:54] alicetragedy opened #495 "Update sponsor avatars"
On the campaign page, not all donations are associated with an avatar. We have some avatars of sponsors already (from the previous years) so these can be added manually already. For the rest, we'll have to ask sponsors separately if they can provide a logo/avatar to add to the site.

- [x] Electra
- [x] INNOQ
- [x] RubyMotion
- [x] NextCloud
- [x] Articulate
- [x] Basecamp
- [x] Runtastic
- [x] Bu

[2018-05-18 19:59] anasofiapinho opened #502 "Update Campaign Page"
As we closed the crowdfunding campaign and announced the teams, we need to update the campaign page saying that the crowdfunding campaign is closed, funds raised and the number of sponsored teams — maybe a link to the teams post?

It would also be great if we added there that all money raised from now on will be used to fund RGSoC 2019 and/or add a call to action to sponsor next year's program. @a

[2018-05-31 05:20] ljl7123 opened #507 "Edit documentation"
My university technical writing course has an assignment which involves editing documentation on GitHub repositories as practice in real world settings. Edits may involve aspects like style, structure, and concision. Existing style guidelines would be taken into account. The following is one of the resources I would be using:

https://jacobian.org/writing/technical-style/

Would anyone mind if I p

[2018-05-31 12:56] alicetragedy commented on #495
Almost all avatars have been updated — we're just waiting for two more companies to send us their avatars.

[2018-06-11 08:16] alicetragedy commented on #495
All done. Closing!

[2018-06-11 08:16] #495 closed, assigned to alicetragedy

[2018-06-11 08:21] #481 closed, assigned to alicetragedy

[2018-06-11 08:44] alicetragedy commented on #461
Update: since we weren't able to do this for 2018, we're going to leave this on the back burner until we rework the site again.

[2018-06-11 08:45] alicetragedy commented on #463
Update: since we weren't able to do this by the crowdfunding campaign kick-off, we'll tackle it as part of the website rework.

[2018-06-13 13:39] alicetragedy commented on #507
hej @ljl7123 — sorry to have taken so long to get back to you!
We'd love to have you contribute and suggest some edits to the current documentation — PRs are welcome! 🙌
We currently have [this open PR](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/483) which I'm hoping to merge soon and might conflict slightly with your work — it adds some edits to the readme, but hopefully by

[2018-06-29 14:16] #502 closed, assigned to alicetragedy

[2018-07-26 12:31] alicetragedy opened #530 "Add 2018 coaching companies to site"
In 2016 we had added coaching companies to the website on a separate page, which I found was a nice touch ([example](http://2016.railsgirlssummerofcode.org/sponsors/coaching-companies/)).

It would be great to do this again, and for that we'd need to:
- [ ] check with all 2018 teams whether they have a coaching company (through supervisors?)
- [ ] ask coaching companies for their logo
- [ ] create

[2018-08-20 08:05] alicetragedy commented on #470
I totally agree — I'd love to have something like this for the conferences, it makes a lot of sense. In fact, we already have YAML files for past conferences with their url, id and name so all we need to get started is to add a way of iterating through these (found in `_data/conferences.yml`) on the conferences page (`students/conferences.md`).
I'm going to add relevant tags so that we can get hel

[2018-08-27 15:04] alicetragedy opened #535 "Improve timeline on landing page"
Currently the timeline on the landing page is not very visible and could be more prominent. The idea is to create a better-looking and more visual timeline, similar to something [like this](https://www.dreamstime.com/stock-illustration-vector-arrows-timeline-infographic-diagram-chart-graph-presentation-business-concept-options-parts-steps-circle-image85964551). (see the same example below)

**Note

[2018-08-27 15:05] alicetragedy commented on #447
finally closing this issue in favour of https://github.com/rails-girls-summer-of-code/summer-of-code/issues/535.

[2018-08-27 15:05] #447 closed, assigned to nobody

[2018-09-05 13:41] anasofiapinho opened #538 "Add conferences logos to the footer and conferences page"
One of the benefits of conferences giving us tickets is that we add their logos and info to our footer and the conferences page in our website.

The status, info and logos are on the Conferences 2018 spreadsheet.

[2018-09-07 12:43] alicetragedy commented on #507
Hi @ljl7123, I'm going to close this issue for now since it's been opened for a while and the description is a little vague. Please don't hesitate to open a new one if this is something you want to tackle in the future. I'd be happy to talk through some of the things that need changing!

[2018-09-07 12:43] #507 closed, assigned to nobody

[2018-09-17 01:30] anasofiapinho commented on #538
Conferences are not sending their logos, even when requested multiple times. I can tray to save them from their websites.

I think that the info we got from the conferences are ok though.

[2018-09-17 01:46] anasofiapinho opened #545 "Create blog post for the 2018 Wrap Up Events"
Let's start organising the wrap up events!

[2018-09-17 01:48] anasofiapinho commented on #545
@nerdyvaishali Can we film this week's supervisors calls? I need like 10 seconds. We don't need any sound recording, and people can just wave.

[2018-09-17 23:41] anasofiapinho commented on #545
Copy and image done. You can check the PR here:
https://github.com/rails-girls-summer-of-code/summer-of-code/pull/552

[2018-09-22 12:04] alicetragedy commented on #545
Not sure if it helps @anasofiapinho but I have just created an issue for the Berlin event, you can find it here: https://github.com/rails-girls-summer-of-code/announcements/issues/23 feel free to add a link to the blog post and make public announcements already! 🙌

[2018-09-24 10:48] anasofiapinho commented on #545
As the blog post was already published last week (see [link](https://railsgirlssummerofcode.org/blog/2018-09-19-wrap-up-rgsoc-2018)), I have added a section about the Berlin's event below.

@alicetragedy, if you want to take a look at the PR, it's [here](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/554). If I had ThoughtWorks's office picture, I would add it below the "Berlin

[2018-09-25 02:03] anasofiapinho commented on #545
This is done!

[2018-09-25 02:03] #545 closed, assigned to anasofiapinho

[2018-10-08 09:30] anasofiapinho commented on #538
Following our weekly call, I assigned this issue to Ramón as he is working on the Conference List issue https://github.com/rails-girls-summer-of-code/summer-of-code/issues/470.

The conferences logos are on the drive, in the Conferences folder, however, ODD EU replied to my email with a new logo, but they didn't send it. If they send the new logo, I'll let you know. If you need more help from me,

[2018-11-18 10:12] alicetragedy opened #574 "small css refactor for conferences page"
As was discussed in [this PR](https://github.com/rails-girls-summer-of-code/summer-of-code/pull/557#pullrequestreview-174923535), we‘d like to move the small css snippet that styles images on the conferences page (`.conferences-container img`) from the `style.scss` file into the `layout.scss`.

This task is a fairly straight-forward one, and could be appropriate as a ✨first-time contribution ✨. Do

[2018-11-18 18:34] alicetragedy commented on #538
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/557. closing!

[2018-11-18 18:34] #538 closed, assigned to hola-soy-milk

[2018-11-18 18:34] alicetragedy commented on #470
done in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/557. closing!

[2018-11-18 18:34] #470 closed, assigned to hola-soy-milk

[2018-11-18 18:38] alicetragedy commented on #389
hej @kajatiger — I will be adding the information about adding `bundle exec` to the jekyll command to start the server to the readme, but other than that, I believe that @wiseemily88's PR https://github.com/rails-girls-summer-of-code/summer-of-code/pull/483 should have helped. Thank you for reporting this! 🙌

[2018-11-21 12:27] carpodaster commented on #474
@acnagy do you have an account on the teams app? I can't seem to find you by your GH handle or otherwise.

[2018-11-21 12:36] carpodaster commented on #474
@inescoelho is showing up as organizer now. I changed the role linked to the team "13th floor" (2016) to "supervisor" (it was "organizer") – is that correct? If not, feel free to change back, but I added the required  team-unbound "organizer" role.

[2018-11-21 16:29] alicetragedy commented on #474
Thank you so much @carpodaster! I'm not sure about the “13th floor” team, I don't think we had a team with that name participating that year, so not sure why @inescoelho was attached to it. Let's see what she says, but I think we can just leave it like it is :)

[2018-11-25 21:50] inescoelho commented on #474
Hi @carpodaster and @alicetragedy! I have no idea why I'm attached to that team, it doesn't even seem to be a participating team :see_no_evil:

[2018-11-26 22:03] acnagy commented on #474
@carpodaster that's weird! I did during the selection process... - it'd be under this handle, or I guess anything that's attached to my personal email? That said, if I need to sign up again, lemme know - I can certainly do that.

[2018-11-27 16:00] carpodaster commented on #474
@acnagy There is no user by your GH handle 😢  Can you log in again on https://teams.railsgirlssummerofcode.org? It will (should) create a new account.

[2018-11-27 16:03] carpodaster commented on #474
@inescoelho Weird. 😕  In any event, I removed you from that phantom team 👻

[2018-12-05 03:30] acnagy commented on #474
@carpodaster done 🤘 I'm all set up!

[2018-12-05 06:49] carpodaster commented on #474
Aaaaand finally listed on https://railsgirlssummerofcode.org/about/team/ 😄

[2018-12-05 06:49] #474 closed, assigned to nobody

[2018-12-05 08:03] alicetragedy commented on #474
Yessss, awesome! 🙌 Thank you @carpodaster for taking care of this issue and @acnagy for setting up an account again to facilitate that. ❤️
So happy to see this issue closed 😂 🙈

[2018-12-11 12:05] CleverFool77 commented on #574
I would like to take this issue.

[2018-12-21 13:42] alicetragedy commented on #368
@acnagy would you still be up for working on this sometime in January or February? Happy to un-assign you otherwise and have this be an “up-for-grabs” task for contributors :)

[2018-12-21 13:44] alicetragedy commented on #530
@nerdyvaishali did you have a list of coaching companies from 2018 by any chance (through the supervisors or something)? If we could add it here, I can get logos from the company and make this a beginner-friendly issue. :)

[2019-01-01 05:40] dependabot-preview[bot] opened #582 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 05:40] dependabot-preview[bot] opened #583 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 05:40] #583 closed, assigned to nobody

[2019-01-01 12:29] #582 closed, assigned to nobody

[2019-01-01 12:29] dependabot-preview[bot] opened #584 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:30] #584 closed, assigned to nobody

[2019-01-01 13:30] dependabot-preview[bot] opened #585 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 14:24] #585 closed, assigned to nobody

[2019-01-04 02:06] acnagy commented on #368
Hi, hi! I’m good either way! I can prob pick this up in February, but I’d love it too if someone new wants to grab it. Seems like a great beginner issue too :D

[2019-02-01 10:03] alicetragedy commented on #167
I picked up this task again recently, and created an updated wireframe for the page (see below). It has some suggestions on what the “Special moments” section could look like, but the final version will be dependent on the type of content we have for each year. Otherwise, the rest is similar to Sara's original sketch — a lot of teams don't have a logo or similar, so we could fall back on having th

[2019-02-22 02:32] azkarmoulana commented on #574
@alicetragedy  I'll take this

[2019-02-22 17:59] alicetragedy commented on #574
hey @azkarmoulana, that's great! All the info you need should be above, but if you need any help just ping me in this issue. ✨

[2019-03-01 11:06] alicetragedy commented on #574
closed in https://github.com/rails-girls-summer-of-code/summer-of-code/pull/588.

[2019-03-01 11:06] #574 closed, assigned to nobody

[2019-03-26 15:25] alicetragedy commented on #368
Hiya @acnagy, pinging you again — I think if this is something you could work on at some point, it would be great, as I don't think we will be onboarding too many new organisers in the near future. <3 Let me know if this is something you can take on, otherwise I will remove you as an assignee and leave it open for anyone to pick up :)

[2019-03-26 15:27] alicetragedy commented on #389
contribution guidelines were updated accordingly in https://github.com/rails-girls-summer-of-code/summer-of-code/commit/2676dc5784c81f18df44a7e030232dfa66d031f0, closing this issue!

[2019-03-26 15:27] #389 closed, assigned to nobody

[2019-04-30 01:40] acnagy commented on #368
Hi @alicetragedy! So sorry for the silence here - I'm afraid to say I won't be able to work on this right now - please go ahead and re-assign to someone else. Thanks so much!

[2019-05-03 11:54] alicetragedy opened #594 "update Code of Conduct for site/repo"
Right now we are using version 1.2 of the [Contributor Covenant](https://www.contributor-covenant.org). Some changes have been made since, particularly the addition of positive behaviour examples as well as information about contacting the team enforcing the code of conduct. It would make a lot of sense to update to the latest version, which can be found [here](https://www.contributor-covenant.org

[2020-06-03 11:17] #594 closed, assigned to nobody

[2020-06-04 19:25] rishi-raj-jain commented on #530
I would like to take up the issue!

[2020-06-05 22:27] rishi-raj-jain commented on #359
I'd like to take up the issue.
Though I've read through the comments but would be more easier if you may summarize about what's to be done apart from removing the unused images.

[2020-12-26 17:48] smriti1313 commented on #466
HTML will be fine since it provided more functionalities.

[2020-12-26 17:52] smriti1313 opened #966 "DWOC label"
I had a query. As I read on DWOC website, your project is included in their given projects list. But i see no labels of DWOC on issues.
Kindly let me know if your project is under DWOC2020 or not.
Thank  you

[2021-03-09 04:09] adityabisoi opened #969 "fix wrong comment tag appearing in footer"
A block of code in the footer is wrongly commented, which makes a part of the comment tag show up on the footer. Due to this, the contents of the footer are pushed downwards.

Please see the attached screenshot:

![Screenshot from 2021-03-09 09-36-20](https://user-images.githubusercontent.com/42573842/110417274-4a605900-80bb-11eb-8204-8fa0faeb500a.png)